.travel-form-box-lable {
  width: 100% !important;
  text-align: left !important;
}

.required {
  color: red;
}

.travel-form-box {
  padding-top: 0px !important;
}

.custom-submit-button {
  position: relative !important;
  display: block !important;
  width: 180px !important;
  /*  color: #fff !important;*/
  background: #57B957 !important;
  box-shadow: 0px 5px 10px rgba(87, 185, 87, 0.5);
  font-size: 22px !important;
  line-height: 32px !important;
  text-align: center !important;
  text-decoration: none !important;
  margin: 0 20px;
  font-family: "SFUIDisplay-Semibold" !important;
  padding: 10px 0px !important;
  border: 1px solid #57b957 !important;
  letter-spacing: 0.5px !important;
  transition: 0.5s all ease !important;
}

.is-invalid {
  border: solid 1px red;
}

.invalid-feedback {
  display: inherit !important;
}

.details {
    font-size: 15px !important;
}

.summary-cont .flt-date {
  width: 40% !important;
}

span.add-tag i,
.base i
 {
  font-size: 16px;
  color: #4caf60;
}

.p-field-genders {
  display: inline-flex;
  margin: 8px 0;
}

.p-inputtext,
.p-dropdown{
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .custom-submit-button {
    padding: 10px 0px !important;
    margin   : auto;
  }
}
