<app-shared-search-results (searchResultEvent)="searchResult($event)" ></app-shared-search-results>
<div class="content hero-blog2" *ngIf="isShowContent">
    <div class="container">
        <h1 class="text-center">
            <strong>Thai Airways</strong>
        </h1>
        <p><b>Thai Airways</b>, Thailand's national airline, was founded in 1991. Because of its size and extensive service throughout
            Asia, no other airline comes close to matching it. More than 1,000 flights a week connect Thailand with
            the rest of Asia's main cities, thanks to Thai Airways. Thailand's Suvarnabhumi Airport serves as the
            hub for Thai Airways. There are 80 airports served by Thai Airways, located in 35 countries across four
            continents.</p>
        <p>First Class, Royal Silk (Business Class), and Economy Class are all available on Thai Airways flights. In
            addition, it is a member of the Star Alliance, which ensures a smooth and enjoyable journey wherever in
            the globe. Among the many reasons why Thai Airlines is so well-known is its Thai hospitality and diverse
            fleet.</p>
        <p>To be "The First Choice Carrier with Touches of THAI," says Thai Airways.</p>
        <p>When Pakistanis go to Asia,
            <b>Thai airways</b> Pakistan is a popular choice. Inflationary pressures on passengers are alleviated by
            Thai airlines Pakistan's inexpensive and competitive pricing.
        </p>
        <h2>History</h2>
        <p>Thailand's flag airline, Thai Airways International Public Company Limited, is a Thai state-owned
            enterprise. Local, regional and transcontinental flights from Bangkok's Suvarnabhumi Airport go to major
            international and domestic destinations. As of 9 May 2005, the Thai government owns 53.77 percent of the
            company's fully paid up share capital, totaling 16,988,765,500 Baht. Total assets of the firm were
            193,211 million Baht at the end of September 2004. For the last 40 years, THAI has been profitable in
            all of its businesses</p>
        <p>It was a joint venture between Thai Airways Company (TAC) and Scandinavian Airlines System (SAS) that saw
            the establishment of Thai Airways International in 1960, with SAS giving an initial 30% share capital of
            two million Baht. Furthermore, SAS contributed operational, administrative, and marketing know-how, as
            well as training help, with the goal of quickly establishing a completely autonomous national airline.
            In 1987, the percentage of expatriate personnel in Thailand had dropped to less than one percent, after
            years of training and experience allowed Thai natives to take full management responsibilities.</p>
        <h2>Recent information about Thai Airways</h2>
        <p>
            In the first nine months of the year, Thai Airways had a profit of 51.1 billion baht. According to the
            spokesman, the success was due to the implementation of new measures such as a restructure of the
            personnel and a strategy to reduce debt. Commercial airlines are also said to have adequate finances and
            strong position to operate operations smoothly until the loan has been received, an extremely important
            factor in the restructuring.
        </p>
        <p>Profits from passenger and freight transit have risen to 1.2 billion baht, the largest amount since the
            epidemic ravaged the globe, according to reports. On top of this, assuming there are no more significant
            Covid-19 outbreaks, the airline is expected to bring in 50 billion baht in income next year.</p>
        <p>Flights from Bangkok to Guangzhou are now able to carry goods in the cabin. Provided by Transports of
            ATKs totaled 2.6 tonnes in the month before. Using this service, consumers can be certain that their
            baggage will be handled with care, transported safely, and delivered on time. In this way, the cabin may
            be used as an additional storage space for baggage. It is ideal for goods such as electrical components,
            food, and medical equipment since it can carry greater weight.</p>
        <p>Thailand has reopened its doors to persons who have been completely vaccinated and do not need to be
            quarantined, effective February 1. Passengers in the test and go programme must undergo PCR testing
            before boarding the plane. In the event of a negative outcome, visitors would be excused from
            quarantine. Passengers are subjected to two PCR tests: one at entrance and a second on the fifth day
            after their arrival date.</p>
        <p>By restarting flights between Pakistan and Thailand, Thai Airways Pakistan has claimed that it would open
            its doors to Pakistani passengers. Karachi and Islamabad will be the primary locations for the services.
            Airline spokesperson said that Pakistan has a huge market for travel to Thailand and throughout the
            globe, thus as Thailand's national carrier, it offers simple travel options for Pakistani travelers. To
            begin with, the airline was based in Lahore when it first began flying. In light of the airline's
            successful flight operations, it decided to restart flights from Bangkok and the rest of the globe to
            other major cities in the nation. Besides commercial flights, the airline plays an important role in
            developing Pakistani freight trade.</p>
        <h2>Timetable for <b>Thai flights Schedule/Thai Airways Pakistan</b></h2>
        <p>Under the vaccinated Travel Lane arrangement,<b>Thai Airways international</b> has begun <b>Thai Airways
                booking</b>
            for flights from Bangkok to Singapore. Earlier this month, Singapore's government gave a green light for
            the airline to begin its operations. In August 2021, Singapore established the VTL programme, which
            allows travelers who have been completely vaccinated to fly there. Providing they fulfill the standards
            and are tested before departure and upon arrival in Singapore, they are exempt from quarantine. The Thai
            Airways Flights Schedule for a typical day at the airport is as under:</p>

        <ul>
            <li>TG403, A flight from Bangkok to Singapore leaves at 08:30 and reaches its destination at 11:30.
                (local Time)</li>
            <li>Singapore's TG404 leaves at 12:25 local time and makes its way to Bangkok at 13:45 local time.</li>
            <li>The airline hopes to increase tourism by encouraging visa-free and international visitors to come
                to the country. PCR and quarantine processing times have been slashed to attract travelers.</li>
            <li>Sydney-to-Phuket flights have been added by Thai Airways. There will be four flights a week between
                these two cities.</li>
        </ul>
        <h2>Thai Airways Pakistan Flights</h2>
        <ul>
            <li>Planned flights between Pakistan and Thailand have been announced by Thai Airways. Karachi,
                Lahore, and Islamabad are the three locations where the airline will be based. There will be twelve
                flights a week between Bangkok and the Pakistani cities.</li>
            <li>Flight activities are detailed in the schedule. From Karachi, Lahore, and Islamabad, there will be a
                total of four flights.</li>
            <li>The cities of Karachi, Lahore, and Islamabad will be served by six flights a day from Bangkok.</li>
        </ul>
        <table class="table">
            <thead>
                <tr>
                    <th>Route</th>
                    <th>Available days</th>
                    <th>Departure time</th>
                    <th>Arrival time</th>
                    <th>Flight no.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BKK-KHI</td>
                    <td>Tue & Sat</td>
                    <td>19:10</td>
                    <td>22:45</td>
                    <td>TG341</td>
                </tr>
                <tr>
                    <td>KHI-BKK</td>
                    <td>Tue & Sat</td>
                    <td>23:55</td>
                    <td>06:30</td>
                    <td>TG342</td>
                </tr>
                <tr>
                    <td>BKK-LHE</td>
                    <td>Tue & Fri</td>
                    <td>19:20</td>
                    <td>22:35</td>
                    <td>TG345</td>
                </tr>
                <tr>
                    <td>LHE-BKK</td>
                    <td>Tue & Fri</td>
                    <td>23:55</td>
                    <td>06:20</td>
                    <td>TG346</td>
                </tr>
                <tr>
                    <td>BKK-ISB</td>
                    <td>Mon & wed</td>
                    <td>19:00</td>
                    <td>22:35</td>
                    <td>TG349</td>
                </tr>
                <tr>
                    <td>ISB-BKK</td>
                    <td>Mon & wed</td>
                    <td>23:50</td>
                    <td>06:35</td>
                    <td>TG350</td>
                </tr>
            </tbody>
        </table>
        <h2>Popular<b> Thai Airways Worldwide Routes</b></h2>
        <ul>
            <li>Thai Airways from Bangkok to Karachi (non-stop flight)</li>
            <li>Thai Airways from Beijing to Copenhagen (one stop flight)</li>
            <li>Thai Airways from Lahore to Bangkok (non-stop flight)</li>
            <li>Thai Airways from Phuket to Moscow (one stop flight)</li>
            <li>Thai Airways from Islamabad to Istanbul (one stop flight)</li>
            <li>Thai Airways from Sydney to Venice (two stops flight)</li>
            <li>Thai Airways from Amsterdam to Bangkok (one stop flight)</li>
            <li>Thai Airways from Lahore to Chiang Mai (non-stop flight)</li>
            <li>Thai Airways from Karachi to Sydney (two stops flight)</li>
        </ul>
        <h2>Experience with Thai Airways</h2>
        <p>Another reason <b>Thailand airlines</b>is well-known is for its aircraft. These aircraft include Airbus
            A380-800, Boeing 747-400, Boeing 787 Dreamliner, Boeing 787 Dreamliner Extra, and Boeing 787 Dreamliner
            Extra. First-class, silk-class, and economy-class flights are all available.</p>
        <p>The Royal Orchid Spa, excellent wines, and gourmet meals are all included in Thai Airways Royal First
            Class. Along with the semi-private apartment, you'll have access to classic films, TV series, music, and
            video games.</p>
        <p>The Royal Silk Class of Thai Airways has a 180-degree reclining seat that can be converted into a
            full-sized bed. Flat-screen 16-inch monitors will also allow you to access more than 100 music albums,
            television series and blockbuster movies. You will, of course, be able to choose from a wide selection
            of champagnes and savor delectable meals.</p>
        <p>Thai Airways' Economy Class offers more legroom and a greater selection of entertainment options than
            other airlines' economy classes. You may also use the Wi-Fi to access the internet on your smartphone,
            laptop, or tablet without interruption. The blanket and pillow are provided on long-haul flights to
            ensure a restful voyage.</p>
        <p>The cost of a flight from Pakistan to Thailand, on Thailand Airways or Thai Airways Pakistan is
            reasonable. You may book a flight from Karachi to Bangkok with Thai Airways via the official website or
            in person at the Thai Airways office in Karachi. Flights from Bangkok to Karachi may be purchased online
            for the return trip. When compared to other airlines, the price of a ticket from Lahore to Thailand is
            quite inexpensive.</p>
        <h2>Online Check-in for <b>Thai Airlines Flights</b></h2>
        <p>You may save a lot of time by checking in for your flight with <b>Thai airways</b>online. One hour before
            the
            scheduled departure time of an international flight and 45 minutes prior to the scheduled departure time
            of a domestic flight, you may check in online with Thai Airways.</p>
        <p>Just type in your booking name or Thai airlines ticket number and you're ready to travel. It's that
            simple. For individuals who don't need to check in any bags, this is the ideal option.</p>
        <h2>COVID Updated Information about <b>Thai international</b></h2>
        <p>Travel class, destination, and other variables influence baggage allowances. At the time of booking, the
            most accurate information is available.</p>
        <p>To the following destinations: Asia, Australia, New Zealand; Europe; Africa; the Middle East.</p>
        <ul>
            <li>30 kilo grams, the weight limit for economy class flights.</li>
            <li>40 kg in Premium Economy Class.</li>
            <li>Type of Royal Silk: 40 kg</li>
            <li>In Royal First Class, the weight limit is 50 kilograms.</li>
            <li>10 kg infant not in a car seat</li>
        </ul>
        <p>If you're traveling with more than one airline, be aware that baggage policies may differ.</p>
        <hr>
    </div>
</div>