<mat-card >
  <mat-card-content>
    <p-table #dt1 [value]="bookings" [rows]="15" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-sm"          
    [rowsPerPageOptions]="[5,15,25,50]" [paginator]="true" 
    [globalFilterFields]="['pnr','originLocation','destinationLocation','bookingStatusName']"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">        
        <span class="p-input-icon-left">            
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
    </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="createdOn">Date<p-sortIcon field="createdOn"></p-sortIcon></th>
        <th pSortableColumn="id">Booking Ref <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="pax">#Passengers <p-sortIcon field="pax"></p-sortIcon>
        </th>
        <th pSortableColumn="originLocation">Origin <p-sortIcon field="originLocation"></p-sortIcon>
        </th>
        <th pSortableColumn="destinationLocation">Destination <p-sortIcon field="destinationLocation">
          </p-sortIcon>
        </th>
        <!-- <th pSortableColumn="paymentTypeName">Payment Type <p-sortIcon field="paymentTypeName">
          </p-sortIcon>
        </th> -->
        <th pSortableColumn="airLine">Airline <p-sortIcon field="airLine">
        </p-sortIcon>
      </th>
      <th pSortableColumn="totalFare">Total Fare <p-sortIcon field="totalFare">
        </p-sortIcon>
      </th>
        <th pSortableColumn="bookingStatusName">Booking Stage <p-sortIcon field="bookingStatusName">
          </p-sortIcon>
        </th>
        <th pSortableColumn="expiredOn">Expired On <p-sortIcon field="expiredOn"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.createdOn | date :'MMMM d, y, h:mm:ss'}}</td>
        <td (click)="bookingDetails(user.id)" class="link">{{user.pnr}}</td>
        <td>{{user.pax}}</td>
        <td>{{user.originLocation}}</td>
        <td>{{user.destinationLocation}}</td>
        <td>{{user.trip?.airline}}</td>
        <td>{{user.trip?.totalFare | currency:'PKR ':'symbol':'1.0-0'}}</td>
        <td>{{user.bookingStatusName}}</td>
        <td>{{user.expiredOn | date :'MMMM d, y, h:mm:ss'}}</td>
      </tr>
    </ng-template>
  </p-table>
  </mat-card-content>
</mat-card>

<!-- <div class="row mb-5">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="manage-table">
      <div class="booking-table">

      </div>
    </div>
  </div>
</div> -->
