.app-store {
  margin: 6px 0;
}

.newsletter-input-box .subscribe {
  position: absolute;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  right: 0;
  background-color: #181b31;
  color: #fff;
  border-radius: 0px;
  padding: 8px 20px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: 0.5s all ease;
  cursor: pointer;
}
@media (min-width:320px) and (max-width:769px)
{
.app-store{
width: 60%;
}
}