<app-shared-search-results (searchResultEvent)="searchResult($event)" ></app-shared-search-results>
<div class="content hero-blog2"  *ngIf="isShowContent">
    <div class="container">
        <h1 class="text-center">
            <strong>SriLankan Airline </strong>
        </h1>
        <p>SriLankan Airline is the flag airline of Sri Lanka and was founded in 1947 at Air Ceylon. It is based at
            Bandaranaike International Airport, where it has a hub (CMB ). Over 95 destinations in 50 countries spanning
            Asia, the Middle East, Oceania, and Europe are served by SriLankan Airlines. There are codeshare agreements
            between the carrier, six Oneworld members, and eleven non-Alliance carriers. Six Airbus A320-200 planes, two
            Airbus A321-200 planes, seven Airbus A330-200 planes, four Airbus A330-300 planes, and one Airbus A340-300
            plane make up the airline's fleet of 20 aircraft. Business Class and Economy Class are available on each
            flight.</p>
        <h3><strong>Origin and Brief History</strong></h3>
        <p>The primary airline in Sri Lanka is Srilankan Airlines. After the shutdown of Air Ceylon in 1979, the
            government established Air Lanka. Air Lanka began flying to 26 different locations in 1990. The Dubai-based
            Emirates Group bought it out in 1998. A new image and a new fleet were created when Emirates purchased 43.6
            percent of Air Lanka's stock. The Srilankan Airlines name was introduced.</p>
        <p>At the end of July 2001, a terrorist assault on Bandaranaike airport grounded half of Airlines' aircraft. The
            Airlines continued to grow in the years after this disaster, becoming the biggest Indian-bound airline. Up
            to 100 flights, a week are provided to 11 destinations. The company introduced its frequent flier program,
            FlySmiles, in 2008 after splitting with Emirates and benefiting from the latter's frequent flyer program.
        </p>
        <p>A unique award was given to Srilankan Airlines in South Asia because of its dedication and progress in 2013.
            The Airlines acquired Mihin Lanka's operations in 2016 as part of an expansion strategy. As the Airlines has
            grown and improved its services, it has gained the respect of its consumers. Airlines got the First Star in
            the International Airline category at the Golden City Gate Awards at the ITB Berlin in 2020 to recognize its
            outstanding service quality.
            A new long-haul route to Melbourne, Australia, was inaugurated by Sri Lankan in October 2017, marking the
            airline's most ambitious expansion to date and its first new long-haul route in over five years. A direct
            plane connection between Australia and Sri Lanka has been restored after a 16-year absence.
        </p>
        <p>Since the outbreak of the COVID-19 epidemic, the Airlines has been transporting goods and providing relief
            flights for those affected. There was a relief flight from Wuhan, China, on February 1, 2020. Until August
            2020, the Airline had lost 36.3 billion rupees, and the government had granted a 1.46 billion voluntary
            retirement payout for 560 workers.</p>
        <h3><strong>Latest Information about SriLankan Airlines</strong></h3>
        <p>SriLankan Airlines has indicated that it intends to reopen all canceled flights because of the pandemic. Even
            throughout the lockdown time, the airline flew freight and commercial flights to and from India, but today
            it is solely focused on connecting Sri Lankans. As the number of visitors from India has increased
            dramatically and Sri Lanka has opened its borders to fully vaccinated Indians, now is the moment to raise
            awareness about the flight. If the Indian market is catered to, the airline stands to gain from it.</p>
        <p>Airlines must expand the number of cargo flights they provide to grow traffic. While other airlines were
            struggling, SriLankan Airlines was expanding into new markets, including Nairobi, Moscow, Sydney, Kathmandu
            and Paris, all at a difficult time for the aviation sector. Indian travelers will also benefit from a rise
            in flights to and from India. The Airlines now flies to nine cities, with 54 flights per week.</p>
        <p>SriLankan Airlines and Manta Air have teamed together to offer convenient connections between Gan
            International Airport and the Kaafu Atoll in the southern Maldivian archipelago. Before Covid-19, SriLankan
            Airlines was the first airline to provide flights from Sri Lanka to Gan. However, because of covid-19
            limits, they were forced to quit flying. After a brief pause, they have restarted a once-weekly service and
            hope to raise it to twice-weekly beginning on March 29, 2022. Passengers flock to the Maldives throughout
            the summer months to take in the island's stunning scenery. Travelers to Male and Gan will be able to take
            advantage of the new agreement between the two airlines. It is expected that the agreement between the two
            airlines would further boost SriLankan Airlines' position in the luxury travel market, particularly those
            wishing to connect through Gan with the city of Kadhdhoo.</p>
        <h3><strong>Destinations</strong></h3>
        <p>Codeshares with other airlines allow the airline to fly to 42 locations in 20 countries from its web network
            of 117 destinations. Its interline agreements and participation in the Oneworld alliance enable it to
            connect passengers to more than 1,000 locations in 160 countries.</p>
        <p>With 14 cities served, SriLankan is now India's most significant international airline by several
            destinations. Two cities are served by this major international airline in the Maldives.</p>
        <h3><strong>Cost of a Srilankan Airlines Flight</strong></h3>
        <p>Travelers on a tight budget may afford to srilankan airlines booking. The day of the week might affect the
            cost of a plane ticket. The cost of a ticket might fluctuate every week depending on the supply and demand
            for specific seats. As the departure date draws nearer and the supply of seats narrows, the cost might rise.
        </p>
        <table style="width:100%">
            <tr>
                <th>Srilankan Airlines Ticket Price</th>
                <th>Days</th>
                <th>Price Starts from</th>
            </tr>
            <tr>
                <td>Karachi to Dubai</td>
                <td>Mondays</td>
                <td>Rs 67,535</td>
            </tr>
            <tr>
                <td>Lahore to Doha</td>
                <td>Monday and Thursday</td>
                <td>Rs 43,404</td>
            </tr>
            <tr>
                <td>Dubai to Lahore</td>
                <td>Wednesday</td>
                <td>Rs 46,120</td>
            </tr>
            <tr>
                <td>Colombo to Karachi</td>
                <td>Monday and Thursday</td>
                <td>Rs 90,131</td>
            </tr>
        </table>
        <h3><strong>Flight schedule for SriLankan airways</strong></h3>
        <p>Lanka Airways flies to 113 different cities in 51 countries as part of its extensive network. You may always
            check the website to get the most recent information. By selecting a departure or arrival time and price
            range, you can narrow down your search for flights. Customers will be able to discover the flight from
            SriLankan flights that works best for them on their specific journey by using this method.</p>
        <table style="width:100%">
            <tr>
                <th>Route</th>
                <th>First Flight</th>
                <th>Last Flight</th>
                <th>Duration</th>
            </tr>
            <tr>
                <td>Karachi to Colombo</td>
                <td>5:15</td>
                <td>5:20</td>
                <td>3 hours 40 min</td>
            </tr>
            <tr>
                <td>Colombo to Doha</td>
                <td>7:20</td>
                <td>18:25</td>
                <td>5 hours 5 min</td>
            </tr>
            <tr>
                <td>Dubai to Colombo</td>
                <td>11:35</td>
                <td>21:50</td>
                <td>4 hours 25 min</td>
            </tr>
            <tr>
                <td>Colombo to Bahrain</td>
                <td>17:25</td>
                <td>18:30</td>
                <td>5 hours 30 min</td>
            </tr>
        </table>
        <p>They've released their winter flights schedule for Lahore to Colombo flights from SriLankan Airlines. The
            flying schedule is in effect from December 1, 2021, through December 31, 2021, and beginning on February 1,
            2022. Below you'll find a timetable for UL 186/185. </p>
        <table style="width:100%">
            <tr>
                <th>From 1st December 2021- 31st till December 2021</th>
            </tr>
            <tr>
                <th>Route</th>
                <th>Flights</th>
                <th>Departures</th>
                <th>Arrivals</th>
            </tr>
            <tr>
                <td>LHE-CMB</td>
                <td>UL 186</td>
                <td>12:30</td>
                <td>17:00</td>
            </tr>
            <tr>
                <td>CMB- LHE</td>
                <td>UL 185</td>
                <td>08:05</td>
                <td>11:30</td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <th>From 1st February 2022 Onwards</th>
            </tr>
            <tr>
                <th>Route</th>
                <th>Flights</th>
                <th>Departures</th>
                <th>Arrivals</th>
            </tr>
            <tr>
                <td>LHE-CMB</td>
                <td>UL 186</td>
                <td>05:15</td>
                <td>05:15</td>
            </tr>
            <tr>
                <td>LHE-CMB</td>
                <td>UL 186</td>
                <td>04:30</td>
                <td>09:00</td>
            </tr>
            <tr>
                <td>CMB- LHE</td>
                <td>UL 185</td>
                <td>00:50</td>
                <td>04:15</td>
            </tr>
            <tr>
                <td>CMB- LHE</td>
                <td>UL 185</td>
                <td>00:05</td>
                <td>03:30</td>
            </tr>
        </table>
        <h3><strong>Flight Tracking for SriLankan Airlines</strong></h3>
        <p>Srilankan Airlines has a reputation for on-time service and adhering to strict flight schedules. Follow the
            procedures outlined below to acquire up-to-date information on the current status of your flight</p>
        <li>Visit the Srilankan Airlines website at www.srilankan.com to learn more.</li>
        <li>The "Plan & Book" tab is located at the top of the page.</li>
        <li>"Flight Status" may be found in the drop-down menu.</li>
        <li>Search by aircraft number or route is available on the relevant page.</li>
        <li>The date of departure and arrival must be entered after you've made your selection.</li>
        <li>Now that you've clicked "Search," you can see all the results below.</li>
        <h3><strong>Srilankan Airlines Web Check-in</strong></h3>
        <p>You may save time at the airport by using the Check-in online service from the comfort of your own home.
            There is an option to print your boarding permit at home, and you may choose the seat you like. Online
            check-in is accessible from 48 to 2 hours before departure and may be completed. Please be aware that the
            check-in desks shut one hour before your flight's departure time if you cannot do it online.</p>
        <p>You need to provide your surname and booking reference or ticket number to check in online. The processes to
            check in on the website are as follows:</p>
        <li>Visit www.srilankan.com to learn more about Srilankan Airlines.</li>
        <li>Decide on your mode of transport.</li>
        <li>Select Online/mobile web check-in from the drop-down menu</li>
        <li>Enter your information on the relevant page, and you will be sent to the next step.</li>
        <h3><strong>Airline Cancellation Policies of SriLankan Airlines</strong></h3>
        <p>It's more flexible to travel with Srilankan Airlines than any other airline. Up to 24 hours before departure,
            you may cancel your flight free of charge. Because The Airlines understands that life's unexpected twists
            and turns are inevitable, the airline's cancellation policy is straightforward:</p>
        <li>Visit the official website of Srilankan Airlines.</li>
        <li>Go to the "Plan and Book" tab.</li>
        <li>Select 24-hour cancellation from the drop-down option.</li>
        <li>Enter your full name, last name, booking reference, and the reason for your cancellation in the fields
            provided.</li>
        <li>Submit.</li>
        <p>To get a refund if your circumstance doesn't qualify for the 24-hour cancellation window, you'll need to fill
            out a refund request form. Please go here https://www.srilankan.com/en
            UK/plan-and-book/online-refund-request to seek a refund.</p>
        <h3><strong>Perks of Flying with SriLankan Airlines</strong></h3>
        <p>Srilankan Airlines' baggage allowance policy differs based on the type of service. Business, Economy, and
            Infant-All classes are the three options. You'll be charged a fee if your luggage weighs more than the
            allowed amount. Pre-purchasing additional luggage might save you money. If you didn't budget for the
            additional luggage, the airport would charge you based on the weight or size you've exceeded. Purchasing
            additional luggage in advance saves time and money, and you may do it up to three hours before your aircraft
            takes off.
            Here are the baggage allowance conditions:
        </p>
        <table style="width:100%">
            <tr>
                <th>Cabin class</th>
                <th>Weight</th>
                <th>Number of pieces</th>
            </tr>
            <tr>
                <td>Business Class</td>
                <td>7 kg</td>
                <td>2 bags, 40 kg total</td>
            </tr>
            <tr>
                <td>Economy Class</td>
                <td>7 kg</td>
                <td>2 bags, 30 kg total</td>
            </tr>
            <tr>
                <td>Infant All classes</td>
                <td></td>
                <td>1 bag, 10 kg</td>
            </tr>
        </table>
        <h3><strong>Contact Information</strong></h3>
        <p>For Srilankan airlines online booking, you may get in touch with a representative from customer service
            department at any time of day or night. The customer care department can address any questions about your
            reservation. You may get in touch with them using the following information.</p>
        <p><strong>Contact information is as follows: +94117771979</strong></p>
        <p><strong>Phone: +94197333999 Fax</strong></p>
        <p><strong>reservations@srilankan.com.</strong></p>
        <p>
            On the Srilankan Airlines website, you may also use an online chat to get answers to your questions
            concerning flights. You may find the answers to your queries in the commonly asked questions section.
        </p>
        <p>Located at the following address is the Airlines headquarters:</p>
        <p><strong>Airlines of Sri Lanka, Ltd.,</strong></p>
        <p><strong>Flight Center, Bandaranaike International Airport, Sri Lanka</strong></p>
        <p><strong>Sri Lanka's Katunayake, formerly known as Kandy.</strong></p>
        <p><strong>Phone number: +94197335555</strong></p>
        <p><strong>Telephone: +94197335122; Fax:</strong></p>
        <p><strong>Feedback may be sent to feedback@srilankan.com through email.</strong></p>
        <p><strong>Hours of Operation: Monday through Friday (08:15 to 16:45)</strong></p>
        <h3><strong>Rescheduled Flight with Srilankan Airlines</strong></h3>
        <p>Srilankan Airlines gives you the option to adjust the date of your flight if your plan changes. Price
            conditions, handling costs, fare discrepancies, and municipal taxes all affect the ability to make changes.
            To modify your flight, go to the Srilankan Airlines website. Follow these steps to ensure a hassle-free
            experience:</p>
        <li>Enter your surname and booking number in the "Manage My Booking" section.</li>
        <li>By clicking on "Change Flights," you may choose a different date.</li>
        <li>Finalize the change.</li>
        <li>You will get a confirmation email from Srilankan Airlines once the modification has been completed.</li>
        <li>Please email bookings@srilankan.com if you have any issues.</li>
        <h3><strong>Services provided by SriLankan Airlines</strong></h3>
        <p>Srilankan delivers the utmost comfort to its guests for a pleasant and high-quality voyage. When it comes to
            customer service, the Airlines takes customers' comfort very seriously. This airline's services include
            reclining leather seats, phone connectivity, Wi-Fi, and meals, to name a few. Besides the in-flight
            facilities, it provides additional perks that are well worth the price of admission, like:</p>
        <li>Seats Devoid of Neighbors</li>
        <li>Try to get a seat in Business Class</li>
        <li>Reservations for Priority Seating for Prepaid Extra Baggage</li>
        <li>Dietary supplements</li>
        <li>Your Taxi or Car Rental may be pre-ordered for duty-free travel.</li>
        <h3><strong>Offers & Discounts from Srilankan Airlines</strong></h3>
        <p>Srilankan Airlines has some of the world's most excellent pricing and best bargains. The Airlines offers a
            special deal for students that gives them an additional 10 kilograms of luggage limit and a 5 percent
            discount on airlines ticket, on their first journey</p>
        <p>FlySmiles, a frequent flier program, has been in place since 2008. To be included in the exclusive club of
            world-class airlines is an honor for FlySmiles, which belongs to the Oneworld alliance. Platinum, Gold,
            Classic, and Blue are the four tiers of FlySmiles membership. The Airlines' joint credit cardholders are
            entitled to silver status, only available to those using the airline's credit card. The Young Smiles program
            caters to travelers aged 2 to 18 years old.</p>
    </div>
</div>