<app-shared-search-results (searchResultEvent)="searchResult($event)" ></app-shared-search-results>
<div class="content hero-blog2" *ngIf="isShowContent">
  <div class="container"> 
    <h1 class="text-center"><strong>Emirates Airline</strong></h1>
    <P>Emirates Airline founded in 1985. Emirates Airline owned by United Arab Emirate’s (U.A.E) Government. Emirates
      hub is Dubai International Airport. Emirates first flight was from Dubai to Karachi and Mumbai. In next 5 years of
      operations, Emirates grew its network to 14 new destinations.</P>
    <p>Emirates is world first airline who installed the video system in all sets. In 1992 Emirates added 7 new Boing777
      plane with 7 option singalled. Emirates ambitions was a vote of confidence for the industry hard hit by the first
      GGC War.
      And Emirates becomes the first airline to introduce telecommunications on an Airbus, in all classes’ planes (First
      Class, Business class, Economy Class). In 1990 Emirates added 50 new destinations in his global network which was
      a great achievement for Emirates.
      Emirates is the first airline who sign up for Airbus A380. The world’s largest commercial aircraft will become a
      flagship of the Emirates fleet over the next two decades. From 2006/7 to next Eight-year Emirates signs a GBP100
      million deal with English Premiership club Arsenal. And renewed its partnership in 2012 to 2018. This is the world
      longest running shirt partnership in Football Premier League.
      Emirates is the first airline company who order 42 world largest Boing 777 in a deal worth $9.6 Billion. Now
      Emirates is the world’s largest operator of 777 aircraft. From 2000 to 2010 Emirates added 50+ new destination in
      his network. Emirates Airline has another record of ordering world largest plane “A380 fleet”.
    </p>
    <p>Emirates Airline also got a lot of awards for his services and routes. Emirate is the world’s first airline who
      launch the World first fully enclosed, First-Class private suites with unmatched luxury and privacy.
      Emirates owned Total 269 air crafts, with 85+ countries destinations.
      One of the fastest growing airlines in the world, is the ideal choice when visiting the Emirates or choosing a
      destination from their extensive flight network. Emirates flies to over 150+ destinations across six continents.
      Emirates, First Business and Economy class is designed with its passenger’s comfort in mind.
      Their award-winning first-class service features on selected flights Private Suites, on board lounges, Mid-flight
      showers, five-star dining, with dine-on-demand, over 1,200 entertainment channels. Emirates flights now depart and
      arrive from the new Emirates Terminal 3, at Dubai International Airport.
      Emirate Holidays will also tailor make your ideal holiday to a wide range of destinations. To underline its
      commitment to help children in need The Emirates Airline Foundation, a non-profit charity organization provides
      humanitarian, philanthropic aid, and services for children in need.
    </p>
    <h3><strong>Emirates Ticket Price</strong></h3>
    <p>Emirates offers you the best ticket prices you can possibly get. They come with low prices, additional amenities,
      good quality foods, and comfortable journey packages. The price range majorly depends on the date of travel. If
      you are booking your tickets just on the day of travel, the price will be pretty high. But, if you pre-book your
      flight via Sastaticket.pk, you will be able to find the cheapest prices and best discounts. Weekends and holidays
      usually have a higher price than weekdays due to more demand. If you are looking for a little cheaper rate, it is
      wise to book tickets of flights at unusual hours from Sastaticket.pk, and the prices are usually low.</p>
    <h3><strong>Emirates Latest Updates</strong></h3>
    <h4><strong>Claim your complimentary Emirates Expo Season Pass</strong></h4>
    <p>If you’re flying with us to Dubai between 1 October 2021 and 31 March 2022, you’ll get a free season pass to Expo
      2020 Dubai for everyone in your booking. So if you haven’t already, claim your complimentary season pass to the
      world’s greatest show now.</p>
    <p>Emirates has recently received the last manufactured Airbus A380, the air 123rd aircraft that completed its
      superjumbo fleet. The aircraft received by the airline features the latest cabin products including premium
      economy. Compared to the very first A380, a myriad of enhancements can be witnessed.</p>
    <p>These upgrades ensure that Emirates A380 experience is unmatched. The A380, the largest civil aircraft in
      history, set new standards in aviation. Its wider cabin allows for more room and can carry more passengers. The
      A380 has provided a top-notch experience to passengers by setting the bars high in respect to flying and travel
      experience and will continue to do so in the coming years.</p>
    <p>From January, Emirates has introduced a plant-based meals option for its valued customers. During January 2022,
      10% of the customers were served vegan meals during their flight. The airline served more than 113,000 vegan meals
      in 2021. 170 dishes with various flavors are provided according to the destination customers are traveling to.
      Moreover, for high demand routes plant-based meals are served.</p>
    <p>The most requested or served meals in flights are Grilled vegetables crepes with spinach & tomato concassed,
      Mediterranean vegetable ravioli, Tagine vegetables with couscous.</p>
    <p>They also provide complementary desserts like caramel baked rice with coconut cream and pineapple with pomelo and
      ginger syrup.</p>
    <p>From January 2022, Emirates have resumed operations to multiple US destinations which are as follows:</p>
    <li>Chicago (EK 235)</li>
    <li>Orlando (EK 219)</li>
    <li>Miami (EK 213)</li>
    <li>Dallas Fort Worth (EK 221)</li>
    <li>Seattle (EK 229)</li>
    <li>Newark (EK 209)</li>
    <li>Houston (EK 211)</li>
    <li>San Francisco (EK 225)</li>
    <li>Boston (EK 237)</li>
    <h3><strong>Emirates Popular Domestic Routes of Pakistan</strong></h3>
    <table style="width:100%">
      <tr>
        <th>Emirates Ticket Price</th>
        <th>Days</th>
        <th>Price Starts from</th>
      </tr>
      <tr>
        <td>Pishawar to Kabul</td>
        <td>MTWTFS</td>
        <td>81,085</td>
      </tr>
      <tr>
        <td>Karachi to Istambul</td>
        <td>SMTWWTFS</td>
        <td>Rs. 23,973</td>
      </tr>
      <tr>
        <td>Lahore to Dubai</td>
        <td>SMTWWTFS</td>
        <td>Rs. 21,716</td>
      </tr>
    </table>
    <h3><strong>Emirates Popular International Routes</strong></h3>
    <p>Emirates, being the largest airlines in the middle east, offers hundreds of flights in Pakistan and across other
      countries. It has a fleet of nearly 300 aircraft according to the year-end report of 2020-2021. Emirates
      guarantees to reduce environmental impact by lowering fuel consumption, it uses modern technology and claims to
      burn 4 liters of fuel for every 100 passenger kilometers. It carried 5,61,62,000 passengers and 23,89,000 tons of
      cargo in the previous financial year.</p>
    <table style="width:100%">
      <tr>
        <th>Route</th>
        <th>First Flight</th>
        <th>Last Flight</th>
        <th>Duration</th>
      </tr>
      <tr>
        <td>Islamabad to Kuwait</td>
        <td>03:05 AM</td>
        <td>09:20 AM</td>
        <td>8 Hours 25 Minutes</td>
      </tr>
      <tr>
        <td>Karachi to Istambul</td>
        <td>02:45 AM</td>
        <td>22:30 PM</td>
        <td>7 Hours 40 Minutes</td>
      </tr>
      <tr>
        <td>Lahore to Dubai</td>
        <td>03:30 AM</td>
        <td>09:00 AM</td>
        <td>3 Hours 10 Minutes</td>
      </tr>
      <tr>
        <td>Karachi to Kaulalumpur</td>
        <td>02:45 AM</td>
        <td>10:30 PM</td>
        <td>12 Hours 55 Minutes</td>
      </tr>
      <tr>
        <td>Melbourne to Germany</td>
        <td>09:15 PM</td>
        <td>09:15 PM</td>
        <td>24 Hours</td>
      </tr>
      <tr>
        <td>Paris to Delhi</td>
        <td>03:35 PM</td>
        <td>09:55 PM</td>
        <td>13 Hours 20 Minutes</td>
      </tr>
    </table>
    <p>Emirates and airBaltic have joined hands to provide top-notch services to the customers to and from Latvia,
      Estonia, Lithuania and Finland. This union will provide a great opportunity to Emirates to access to Baltic Sea
      region and airBaltic will also enjoy seamless access to Emirates vast network. Passengers from the Middle East,
      West Asia, Far East and Australia can now have access to Baltic States.</p>
    <p>The agreement between Emirates and airBaltic will help passengers enjoy travel benefits including hassle-free
      booking experience with single-ticket, competitive fares and baggage policy. Tickets are made available through
      Emirates’ website and online travel agents starting from 29th November 2021. Emirates will place its EK code on
      airBaltic flights between the following routes:</p>
    <li>Dubai – Riga (Latvia)</li>
    <li>Riga – Tallinn (Estonia)</li>
    <li>Riga – Vilnius (Lithuania)</li>
    <li>Riga – Helsinki (Finland)</li>
    <p>airBaltic will place its BT code on emirates flights between the following routes:</p>
    <li>Dubai – Bangkok</li>
    <li>Dubai – Jakarta</li>
    <p>Emirates is continuously working on serving its customers by every means:</p>
    <p>It has increased its flights from Dubai to Brisbane and Perth.</p>
    <p>January onwards, flight EK430 and EK 431 will operate five times a week between Dubai and Brisbane.</p>
    <p>From February onwards, flight EX420 and Ek421 will be operated five times a week from Dubai to Perth.</p>
    <p>Increased operations to seychelles.</p>
    <p>Emirates have announced plans to operate flights between Dubai and African countries. Passengers are provided
      with more choice, reasonable prices and connection to the region to and from Dubai.</p>
    <p>1st February onwards: two flights daily from Dubai to Johannesburg and one daily flight to Cape Town and Durban.
    </p>
    <li>EK 761 and EK 763 departs at 4:40 & 10:05 from Dubai and arrive in Johannesburg at 10:55 & 16:30</li>
    <li>EK762 and EK 764 depart at 13:25 & 18:50 from Johannesburg and arrive in Dubai at 23:45 & 05:05 (next day).</li>
    <p>29th January onwards: Emirates to operate 1o weekly to Nairobi</p>
    <li>EK719 and EK720 will depart from Dubai at 9:35 & arrive in Nairobi at 13:45 on Sunday, Wednesday, Friday and
      Saturday.</li>
    <li>EK721 and EK722 will depart from Nairobi at 15:30 and arrive in Dubai at 21:30. The flight will be operated the
      whole week except Wednesday.</li>
    <p>By the end of January: Emirates will fly daily to Addis Ababa.</p>
    <li>From 30th January onwards: EK 725 and Ek 714 aircraft will operate five weekly flights from Dubai to Dar Es
      Salaam.</li>
    <li>From 30th January onwards: EK 713 and EK 714 will fly to Harare. This route has a layover point in Lusaka.</li>
    <h3><strong>Emirates Flight Status Checking</strong></h3>
    <p>It is extremely easy to check your Emirates flight’s status. You can do that by simply going to their website</p>
    <li>Visit www.emirates.com</li>
    <li>Find and click on the “Manage” option on the upper right side of the screen.</li>
    <li>A dashboard opens where you can find and select the “Flight Status” option.</li>
    <li>You can either log in to see all your trips and itinerary.</li>
    <li>Or you can enter your departure, destination, and date of travel, and they will display a list of flights
      suitable to your search.</li>
    <li>Or you can directly, use this link https://www.emirates.com/pk/english/manage-booking/flight-status/.</li>
    <li>You can find your flight and check its status.</li>
    <h3><strong>Web Check-in Emirates Airline</strong></h3>
    <p>Emirates Web Check-in is very convenient and easy to operate.</p>
    <li>Visit www.emirates.com for web check-in.</li>
    <li>Select “Manage;” then find and click on “Check-In Online.”</li>
    <li>Or, click on this link https://www.emirates.com/pk/english/manage-booking/online-check-in/.</li>
    <li>Enter surname and PNR or Booking Reference Number.</li>
    <li>Select all the passengers that you wish to check-in. You can choose to select one for all passengers on a
      particular ticket.</li>
    <li>There can be a nominal fee required for choosing certain seats.</li>
    <h3><strong>Emirates PNR Status/ Ticket Status</strong></h3>
    <p>If you want to check your Emirates flight’s PNR or ticket status, just follow the following steps.</p>
    <li>click here to check your PNR status https://www.emirates.com/pk/English/manage-booking/.Enter your name.</li>
    <li>Enter your booking References </li>
    <li>Click button and check your PNR Status.</li>
    <h3><strong>Cancellation or Refund Policy Emirates</strong></h3>
    <h4><strong>Emirates Ticket Cancellation: </strong></h4>
    <p>You can cancel your booking on emirates.com through Manage your booking (opens in the same window). If your
      flight has been cancelled or impacted by COVID‑19 restrictions, you can hold on to your ticket and get in touch
      with us or your travel agent when flights resume or if you want to change your travel plans. Our Contact Centers
      are experiencing a high volume of calls at this time, so if you’re not travelling within the next 48 hours, please
      consider calling us closer to your planned travel date.</p>
    <h4><strong>Change Booking:</strong></h4>
    <p>You can make changes to your booking and add extras to your flight through the Change my booking link on Manage a
      Booking (opens in the same window). You’ll be able to select this link if your booking is eligible for online
      changes. You might be charged for certain changes, depending on the fare conditions of your ticket.</p>
    <p>For any changes you can’t make online, you can contact your travel agent or call our Contact centers if you
      booked with us directly.</p>
    <p>Alternatively, if your flight has been cancelled or impacted by COVID‑19 restrictions, you can hold on to your
      ticket and get in touch with us or your travel agent when flights resume or if you want to change your travel
      plans.</p>
    <p>Our Contact Centre’s are experiencing a high volume of calls at this time, so if you’re not travelling within the
      next 48 hours, please consider calling us closer to your planned travel date.</p>
    <h3><strong>Baggage Allowance </strong></h3>
    <h4><strong>Economy Class</strong></h4>
    <p>7kg Carry-on. Carry-on dimensions should not exceed 55 by 38 by 20 cm.</p>
    <h4><strong>Business & First Class </strong></h4>
    <p>7kg Carry-on</p>
    <h4><strong>Briefcase or garment bag</strong></h4>
    <p>The briefcase may not exceed 45 by 35 by 20 cm; the handbag may not exceed 55 by 38 by 20 cm; the garment bag can
      be no more than 20 cm thick when folded.</p>
    <h4><strong>With Infants</strong></h4>
    <p>Carrycot or fully collapsible stroller; Permitted to bring one carry-cot or one fully collapsible stroller into
      the cabin if there is room. If there is no space for these items in the cabin, they will have to be checked.</p>
    <h4><strong>Duty Free Purchases</strong></h4>
    <p>Duty free purchases such as liquor, cigarettes and perfume are also permitted in reasonable quantities for all
      service classes. However, liquid restrictions in effect in many airports may prevent these items from getting past
      security screening points. More about liquid restrictions.</p>
    <h4><strong>Cabin Baggage Placement</strong></h4>
    <p>All cabin baggage must fit either under the seat in front of you or in one of the overhead lockers. Baggage may
      not be placed behind your legs, in the aisles or in front of emergency exits.</p>
    <h4><strong>Transporting Liquids</strong></h4>
    <P>In order to ensure that the liquids you bring on board comply with international regulations, please make certain
      that they are packaged and transported in the following manner.</P>
    <h4><strong>Liquids containers 100ml Maximum</strong></h4>
    <p>All liquids, gels and aerosols, pastes, lotions, creams, drinks and other items of similar consistency must be in
      containers with a capacity no greater than 100ml. Those carried in containers larger than 100ml will not be
      accepted, even if the container is only partially filled. These containers must be placed in a transparent
      re-sealable plastic bag of a maximum capacity not exceeding one litre. Larger bags or bags that are non-sealable,
      such as fold-over sandwich bags, are not allowed. The containers must fit comfortably within the plastic bag,
      which is to be completely closed. You will need to present the plastic bag for visual examination at the security
      screening point. Only one bag per customer will be permitted.</p>
    <h4><strong>Baby Food & Special Dietary Restrictions</strong></h4>
    <p>Exemptions will be made baby milk of foods, special medications and dietary restrictions. Exemptions will be made
      for medications, baby milk or foods, and special dietary requirements, but you will need to show an appropriate
      means of verifying the nature of these items. For more details about transporting liquids, see our FAQ on hand
      baggage rules and liquids.</p>
    <h3><strong>Customer Support</strong></h3>
    <P>Alternate ways to get help if you experience long call or Live chat wait times</P>
    <P>Our Contact Centre’s are experiencing a large call and chat volumes and you may experience long wait times before
      we can answer you.</P>
    <p>Suggested alternatives:</p>
    <li>If you are contacting us about travel that is not within the next 48 hours, please consider coming back later.
    </li>
    <li>You can make a new booking or change an existing booking on emirates.com</li>
    <li>If you need to find out about travel requirements for your travel, please check the details on the travel
      requirements page. Our contact Centre consultants also refer to this information.</li>
    <li>If your flight has been cancelled or impacted by route suspensions due to COVID 19 restrictions, you don’t need
      to contact us immediately for rebooking. You can simply hold on to your Emirates ticket and when flights resume,
      get in touch with us, or your booking office to make new travel plans. Get all the information on the “Keep your
      ticket” option here.</li>
    <li>To ensure you receive flight updates and notifications, please ensure you’ve provided us with your latest
      contact details under Manage Your Booking.</li>
    <h3><strong>Emirates Amenities</strong></h3>
    <p>Emirates offers a world-class experience when you are onboard. It ranges across the various seat classes and
      options like:</p>
    <li><strong>Class:</strong>Economy, Premium Economy, Business, and First.</li>
    <li><strong>Inflight Entertainment:</strong>Cold/Hard Drinks, Onboard Wifi, Children’s Entertainment, Emirates World
      Interviews.</li>
    <li><strong>Dining:</strong>Fresh fruits, Salad, Crackers and Cheese, Sweet Treat, Full-Course Meal, Alcoholic and
      Non-Alcoholic Beverages.</li>
    <p>Emirates understands and respects the diverse sentiments of people from across the globe and guarantees food that
      doesn’t harm their ideological beliefs. They have Non-Vegetarian Meals, Religious Meals, Medical and Dietary
      Meals, Vegetarian and Vegan Meals, Baby and Child Meals, and Other Special Meals.</p>
    <h3><strong>Emirates Special offer and Discounts</strong></h3>
    <p>More discoveries, more Skywards Miles, more benefits. Browse our current offers below or log into your Emirates
      Skywards account to see all the offers available for your tier. We add new offers all the time, so remember to
      check back for the latest deals.</p>
    <h3><strong>Emirates Travel Insurance</strong></h3>
    <p>Get overseas COVID-19 medical travel insurance when you purchase your flight and travel between 1 December 2021
      and 31 March 2022.</p>
    <p>We’re keeping you safe on the journey and giving you extra security wherever you are in the world.</p>
    <h3><strong>Why Emirates?</strong></h3>
    <p>Your personal haven on ground and your perfect getaway on board.</p>
    <p>Airport lounges designed to ease you into your travels. Gourmet meals inspired by your destination. Over 4,500
      channels of entertainment to enjoy from the most comfortable seats in every class.</p>
    <p>When you fly with us, you can expect the extraordinary.</p>
  </div>
</div>
