<app-shared-search-results (searchResultEvent)="searchResult($event)" ></app-shared-search-results>
<div class="content hero-blog2" *ngIf="isShowContent">
    <div class="container">
        <h1 class="text-center">
            <strong>Etihad Airways</strong>
        </h1>
        <p><b>Etihad</b> Airways P.J.S.C. is the national airline of Abu Dhabi. Etihad Airlines, one of the
            fastest-growing
            airlines in aviation history, stunned the industry in 2004 when it placed an $8 billion order for aircraft
            just one year after its founding. A few luxury airlines had already established themselves in the
            neighboring emirates of Abu Dhabi. Still, Etihad's royal backers hoped it would be able to carve out its
            niche in the rapidly changing global aviation landscape. Fueled by oil revenue, the airline aimed to boost
            tourism and commerce while contributing to Abu Dhabi's economic diversification. Every year, the airline
            transports over four million passengers and a large amount of freight.
        </p>
        <h2>Etihad Airways</h2>
        <ul>
            <li>History</li>
            <li>Recent Updates about Etihad Airways</li>
            <li>Etihad Flights Famous Routes</li>
            <li>Ticket Price for Etihad booking</li>
            <li>Flights Schedule for Etihad Airways</li>
            <li>Flight Status for Etihad Airways</li>
            <li>Web Check-in for Etihad Airways</li>
            <li>Policies for canceling Flights by Etihad airline</li>
            <li>Baggage Allowance For Etihad Airways</li>
            <li>Contact Information for Etihad Airways' Customer Service Department</li>
            <li>Rebooking a Flight on Etihad Airways</li>
            <li>Features of Etihad Airways</li>
            <li>Discounts & Deals on Etihad Airways Flights</li>
            <li>Travel Insurance by Etihad Airways</li>
            <li>Why Booking with Etihad Airways is a smart move?</li>
        </ul>
        <br />
        <h2>History</h2>
        <p>
            Established in July 2003, the first scheduled flight of Etihad Airways P.J.S.C. took place on November 12 of
            that year. The first fleet consisted of six leased planes. <br /><br />
            One of the United Arab Emirates, Abu Dhabi, ordered Etihad to be established (U.A.E.). In addition to Qatar,
            Oman, and Bahrain, Abu Dhabi has a stake in Gulf Air Co. However, Gulf Air's neighbors had decided to
            construct their national airlines, abandoning Gulf Air in favor of their own. These included Emirates
            Airlines of Dubai, which began service in 1985, and Qatar Airways Company Q.C.S.C., founded in 1992, which
            grew swiftly following their establishment. <br /><br />
            Etihad's inception in 2003 was accompanied by rumors that Gulf Air would cohabit alongside Etihad, maybe as
            a feeder airline. <br /><br />
            They all competed for business and tourism, but each had distinct advantages and disadvantages. There was a
            noticeable difference between the economies of Abu Dhabi and Dubai in terms of retail and tourism, for
            example. There was more to these places than just a stopover. When long-range aircraft were introduced,
            linking far-off locations became an essential component of the business strategy for Gulf-based airlines.
            These sites competed with previously dominating main hubs in Europe and Asia in terms of their capacity to
            link continents. <br /><br />
            As a start-up airline in 2004, Etihad had a fleet of only six aircraft. This year, it made news when it
            placed an $8 billion purchase for new planes. All four Airbus A380 models under development were included
            among the 24 new aircraft. To accommodate the A380's size, this acquisition was risky and contentious. When
            other airlines were demanding compensation from Airbus for delays in its development, Etihad was negotiating
            with the company to delay certain deliveries.
        </p>
        <h2>Recent Updates about Etihad Airways</h2>
        <p>
            A series of sustainability-focused strategies launched by Etihad Airways has been influential in rewarding
            employees who have made "green" selections or have proposed such choices that contribute to solutions aimed
            at decreasing emissions of CO2. Even though net-zero emissions aren't expected until 2050, Etihad Airways
            has set a goal of halving its emissions from 2019. In addition to saving money, eco-conscious travelers may
            win rewards for their efforts. Even if you don't fly, you can still earn Tier Miles by doing easy daily
            tasks like not driving. This is a terrific opportunity. Additionally, reducing one's carry-on baggage when
            flying lowers carbon emissions.<br /><br />
            Digital membership cards allow members to "go green" and reward them with Tier Miles to help them retain a
            tier or upgrade to the next level and enjoy additional privileges. When it comes to efficiency, Etihad
            prioritizes the needs of the company's employees before those of its customers. <br /><br />
            As a result, Etihad Airways has taken the following steps to serve its customers better and encourage travel
            and tourism:
        </p>
        <ul>
            <li>● Etihad Airways and Italian Airways have agreed on a codeshare arrangement to expand the number of
                flights between the U.A.E. and Italy.</li>
            <li>● Etihad Airways and I.T.A. airline will share the code 'AZ' on flights between Italy and the United
                Arab Emirates starting December 14. I.T.A. flights will share the Etihad Airways code, which will link
                the bulk of Italy's internal flights in the same manner. </li>
        </ul>
        <p>
            Up to the end of March 2022, Etihad Airways will no longer fly to Saudi Arabia's capital city of Madinah
            from its main base in Abu Dhabi. Even though flights to Saudi Arabia were restored in November, the airline
            has ceased operations in Madinah because of operational concerns.
            Passengers who have <b>Etihad airways booking</b> may change their reservations, rebook their flights, or
            get a refund if necessary.
        </p>
        <ul>
            <li>● Etihad Airways has always had a strong belief in environmental sustainability.</li>
            <li>● There are four primary areas of sustainability in which it has established a corporate incentive
                program, which includes carbon offsets, conscious corporate decisions, and investment green fees.</li>
            <li>● The airline offers its customers the chance to pay a "green fee" on their ticket, subsequently used to
                fund reforestation efforts.</li>
            <li>● When a business traveler uses the airline, the miles they accrue will be counted.</li>
        </ul>
        <p>
            Summer flights to Nice, France, are being planned by Etihad Airways. This year's flights will take place in
            June at the busiest time for summer tourism. As of June 15, 2022, there will be twice-weekly flights on
            Wednesdays and Sundays. There's little doubt that Etihad Airways will be able to provide a wide variety of
            in-flight entertainment options. After landing in Rome, passengers will be able to take a shuttle bus to
            Nice. On the other hand, return flights will fly just between Nice and Abu Dhabi. The sixth seasonal summer
            route is to be revealed in this one.
        </p>
        <h2>
            <b>Etihad Flights</b> Famous Routes
        </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Etihad Ticket Price</th>
                    <th>Days</th>
                    <th>Price Starts From</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lahore to Dubai</td>
                    <td>M T W T F S S</td>
                    <td>Rs 1,16,916</td>
                </tr>
                <tr>
                    <td>Islamabad to Bangkok</td>
                    <td>M W T F S S</td>
                    <td>Rs 1,73,338</td>
                </tr>
                <tr>
                    <td>New York to Islamabad</td>
                    <td>M T W T F S S</td>
                    <td>Rs 82,970</td>
                </tr>
                <tr>
                    <td>Karachi to Bangkok</td>
                    <td>M T W T F S S</td>
                    <td>Rs 51,278</td>
                </tr>
            </tbody>
        </table>
        <h2>Ticket Price for <b>Etihad booking</b></h2>
        <p>
            There are no problems for ey airline customers who want to change their flight tickets at the last moment.
            Additionally, Etihad Airways charges a reasonable price for their flights. If you want to avoid paying for
            additional luggage, you may consider packing a lot more than the airline allows. In addition to business
            class tickets, Etihad Airways offers a wide range of ticket options in economy class (Class, Saver, Flex).
            Etihad Guest, a separate membership tier, offers even more significant savings. A frequent flier program is
            all that is required. Baggage allowance, travel season, layover duration, locality, and local tax rules in
            the final destination city all have a significant impact on the cost of a ticket. Depending on whether
            you're flying domestically or internationally, the price of your visa might vary.
        </p>
        <h2>
            Flights Schedule for Etihad Airways
        </h2>
        <p>
            Etihad Airways flies to and from more than 100 countries on six continents, including Africa, Europe,
            Australia, the Middle East, Asia, and North America, with more than 1,200 planes. Etihad Airways' domestic
            and international flight schedules are pretty flexible. Comfort and safety are hallmarks of the flights.
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Route</th>
                    <th>First Flight</th>
                    <th>Last Flight</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lahore to Dubai</td>
                    <td>02:15 AM</td>
                    <td>08:10 AM</td>
                    <td>7 hours 10 minutes</td>
                </tr>
                <tr>
                    <td>Islamabad to Bangkok</td>
                    <td>02:05 AM</td>
                    <td>08:15 AM</td>
                    <td>26 hours 35 minutes</td>
                </tr>
                <tr>
                    <td>New York to Islamabad</td>
                    <td>09:05 PM</td>
                    <td>09:05 PM</td>
                    <td>24 hours 50 minutes</td>
                </tr>
                <tr>
                    <td>Karachi to Bangkok</td>
                    <td>03:55 AM</td>
                    <td>03:55 AM</td>
                    <td>30 hours 55 minutes</td>
                </tr>
            </tbody>
        </table>
        <h2>Flight Status for Etihad Airways</h2>
        <p>
            Because of the worldwide pandemic crisis, it may be critical to check the status of flights in real-time,
            whether they are short or long hauls. If you're flying with Etihad, it's always a good idea to check the
            status of your flight before boarding. You can check the status of your flight by following the steps
            outlined below:
        </p>
        <ul>
            <li>● The official website of Etihad Airways is <a href="https://www.etihad.com/" target="_blank">www.etihad.com</a>.</li>
            <li>● Select 'Flight status' from the 'Manage' menu.</li>
            <li>● You must now enter your flight information, such as the date and time of departure and the flight
                number.</li>
            <li>● If you don't know the flight number, enter the destination and departure city's name and the departure
                date.</li>
            <li>● Your flight status has been updated.</li>
            <li>● Another way to get the flight status directly from Etihad's website: <a
                    href="https://flighttracker.etihad.com" target="_blank">https://flighttracker.etihad.com</a>.
            </li>
        </ul>
        <br />
        <h2>Web Check-in for Etihad Airways</h2>
        <p>
            It's usually good to use web check-in for Etihad sales when flying with Etihad Airways, so you don't waste
            time waiting in line to acquire your boarding card and seat assignment. Maintaining appropriate social
            distancing among airport travelers has never been more critical than now. To complete a web check-in, below
            are the detailed procedures you may follow:
        </p>
        <ul>
            <li> ● In most cases, a 24-hour window for online check-in is open.</li>
            <li>● Etihad Airways' official website may be found at <a href="https://www.etihad.com/" target="_blank">www.etihad.com</a>.</li>
            <li>● Select "Manage" and click on "Online Check-In" to get started.</li>
            <li>● Check-in may also be done online at this link: <a href="https://www.etihad.com/en-in/manage/check-in"
                    target="_blank">https://www.etihad.com/en-in/manage/check-in</a>.</li>
            <li>● Your online check-in is complete after providing your last name, PNR number, or booking reference
                number. A confirmation email will be sent to you shortly.</li>
            <li>● You have two options for presenting your boarding pass: print it ahead of time or display the e-pass
                from your mobile device.</li>
        </ul>
        <br />
        <h2>Policies for canceling Flights by <b>Etihad airline</b></h2>
        <p>
            If you purchased the ticket more than seven days in advance and desire to cancel within 24 hours of booking,
            you are eligible for a full refund. When in doubt, call the airline's 24-hour hotline for assistance. Etihad
            Airways' official website may be used to cancel your ticket at any moment. There are no cancellation fees in
            the event of a passenger's or a family member's death.
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Cancellation</th>
                    <th>Charges</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Within 96 hours of flight departure</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Within 24 hours of booking</td>
                    <td>NIL</td>
                </tr>
                <tr>
                    <td>On the death of a passenger or family member</td>
                    <td>NIL</td>
                </tr>
            </tbody>
        </table>
        <h2>Baggage Allowance For Etihad Airways</h2>
        <p>
            The luggage allowances on airline Etihad are greater than those on other carriers' flights. Etihad Airways
            does not levy additional fees if the weight of your luggage falls under the airline's weight restrictions.
            Particular objects such as musical instruments, pets, sports gear, and medical supplies may also be
            transported. The amount of carry-on baggage you're allowed to bring on board is determined by the kind of
            aircraft ticket you purchase
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Flight</th>
                    <th>Carry-on luggage</th>
                    <th>Check-in luggage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Economy Class</td>
                    <td>1 bag; 7 kg</td>
                    <td>23 kg</td>
                </tr>
                <tr>
                    <td>Economy Saver and Classic</td>
                    <td>1 bag; 7 kg</td>
                    <td>30 kg</td>
                </tr>
                <tr>
                    <td>Economy Flex</td>
                    <td>1 bag; 7 kg</td>
                    <td>35 kg</td>
                </tr>
                <tr>
                    <td>Etihad Guest</td>
                    <td>Additional; 10 kgs</td>
                    <td>Additional 23-32 kg</td>
                </tr>
                <tr>
                    <td>Business Class</td>
                    <td>2 bags; 12 kgs</td>
                    <td>40 kg</td>
                </tr>
                <tr>
                    <td>First Class</td>
                    <td>2 bags; 12 kgs</td>
                    <td>50</td>
                </tr>
            </tbody>
        </table>
        <h2>Contact Information for Etihad Airways' Customer Service Department</h2>
        <p>
            Etihad Airways is fueled by positive feedback from its passengers. Any questions or concerns may be sent to
            their 24-hour worldwide customer service department at 00800 90044385. You may also use social media sites
            like Twitter, Facebook, or Instagram to get in touch with someone if the phone lines are jammed. It is
            located in Abu Dhabi's Khalifa City, close to the airport.
        </p>
        <h2>Rebooking a Flight on Etihad Airways</h2>
        <p>
            Using Etihad Airways' online ticketing system, travelers may reschedule their flights at any time they want.
            These are the actions you should take:
        </p>
        <ul>
            <li>● Go to www.etihad.com.</li>
            <li>● The 'Manage Booking' option is available.</li>
            <li>● You may also go straight to the window asking for your personal information by clicking this link:
                https://www.etihad.com/en-in/manage</li>
            <li>● Your ticket has been rescheduled.</li>
        </ul>
        <br />
        <h2>Discounts & Deals on Etihad Airways Flights</h2>
        <p>
            Discounts are available for Etihad Airways travelers. Etihad Airways has a frequent flyer program called
            Etihad Guest that you may join. For the first time, you may obtain a bonus of up to 500 miles in your
            account if you install the mobile application. You may get prizes, discounts, and deals for every mile. You
            may move up a tier depending on the number of miles.
        </p>
        <ul>
            <li>● For new members, you'll be given the Bronze rank.</li>
            <li>● Members who have accrued 25,000 tier miles or 20 tier segments are eligible for the Silver level.</li>
            <li>● Fifty thousand tier miles or 40 tier segments are required to get gold.</li>
            <li>● To be considered Platinum, you must have at least 125K tier miles or 60 tier segments.</li>
        </ul>
        <br />
        <h2>Travel Insurance by Etihad Airways</h2>
        <p>
            When making a reservation with Etihad Airways, customers can purchase travel insurance. Etihad Airways
            provides its travel insurance, dubbed the Travel Guard, to safeguard the safety of its customers.
        </p>
        <h2>Why Booking with Etihad Airways is a smart move?</h2>
        <p>
            Etihad Airways has long been known for its dedication to providing its customers with first-rate service.
            Easy online booking, safe payment options, member discounts, and spacious cabins are just ways it has
            consistently provided the most excellent service to its customers.
        </p>
    </div>
</div>