<section class="hero-signup">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="signup-boxes">
          <div class="signup-box">
            <ng-container *ngIf="!isVerification">
              <div class="signup-title">
                <h2>Login as Travel Partners</h2>
                <!-- <p>Login as Travel Agent</p> -->
              </div>
              <div class="signup-form">
                <form [formGroup]="loginForm">
                  <!--<div class="alert alert-success" *ngIf="isUserRegisteredSuccessfully">
                    Thank you for registration. Sign in and enjoy Mehman.pk services.
                  </div>-->
                  <div class="alert alert-success" *ngIf="isPasswordResetSuccessfully">
                    Password reset successfully!
                  </div>
                  <div class="alert alert-info" *ngIf="isloggedOut">
                    You have been logged out successfully!
                  </div>
                  <div class="alert alert-danger" *ngIf="isError">
                    {{ errorMsg }}
                  </div>
                  <div class="alert alert-success" *ngIf="isSuccess">
                    {{ successMsg }}
                  </div>
                  <label>Email</label>
                  <input type="text"
                         class="sign-input"
                         placeholder="Email"
                         formControlName="email"
                         #emailInput
                         [ngClass]="{ 'is-invalid': (submitted || loginForm.get('email').touched) && loginForm.get('email').errors }"
                         required>
                  <div *ngIf="loginForm.get('email').errors && (submitted || loginForm.get('email').touched)" class="invalid-feedback">
                    <div *ngIf="loginForm.get('email').errors.required">Email is required.</div>
                    <div *ngIf="loginForm.get('email').errors.email">Enter a valid email.</div>
                  </div>
                  <label>Password</label>
                  <input type="password"
                         class="sign-input"
                         placeholder="Password"
                         formControlName="password"
                         [ngClass]="{ 'is-invalid': (submitted || loginForm.get('password').touched) && loginForm.get('password').errors }"
                         required>
                  <div *ngIf="loginForm.get('password').errors && (submitted || loginForm.get('password').touched)" class="invalid-feedback">
                    <div *ngIf="loginForm.get('password').errors.required">Password is required.</div>
                    <div *ngIf="loginForm.get('password').errors.minlength">Password must be at least 8 characters.</div>
                    <div *ngIf="loginForm.get('password').errors.maxlength">Password must be at max 25 characters.</div>
                  </div>
                  <div class="remembarme-box">
                    <div class="remeber-cont">
                      <div class="tool-check fliht-check">
                        <!--<input type="checkbox" id="agree" class="tool-input">
                        <label for="agree"></label>
                        <span> Remembar me</span>-->
                      </div>
                    </div>
                    <div class="remember-lik">
                      <a routerLink="/travel-agent/auth/forgot-password">Forget Password?</a>
                    </div>
                  </div>
                  <button type="submit"
                          class="custom-sign-btn btn"
                          (click)="login()"
                          [disabled]="loginForm.invalid && submitted">
                    Sign In
                  </button>
                </form>
              </div>
              <div class="have-account">
                <div class="account-cont">
                  <h5>Don’t have an account?</h5>
                </div>
                <div class="have-btn">
                  <a [routerLink]="['/travel-agent/auth/signup']">Create Account</a>
                </div>
              </div>
            </ng-container>
            <!-- <ng-container *ngIf="isVerification">
              <div class="signup-title">
                <h2>Verify OTP</h2>
                <p>Confirm your registered email address</p>
              </div>
              <div class="signup-form">
                <form [formGroup]="verificationForm">
                  <div class="alert alert-danger" *ngIf="isError">
                    {{ errorMsg }}
                  </div>
                  <div class="alert alert-success" *ngIf="isSuccess">
                    {{ successMsg }}
                  </div>
                  <label>Email</label>
                  <input type="text"
                         class="sign-input"
                         placeholder="Email"
                         formControlName="email"
                         [ngClass]="{ 'is-invalid': (verifySubmitted || verificationForm.get('email').touched) && verificationForm.get('email').errors }"
                         required>
                  <div *ngIf="verificationForm.get('email').errors && (verifySubmitted || verificationForm.get('email').touched)" class="invalid-feedback">
                    <div *ngIf="verificationForm.get('email').errors.required">Email is required.</div>
                    <div *ngIf="verificationForm.get('email').errors.email">Enter a valid email.</div>
                  </div>
                  <label>Password</label>
                  <input type="password"
                         class="sign-input"
                         placeholder="Password"
                         formControlName="password"
                         [ngClass]="{ 'is-invalid': (verifySubmitted || verificationForm.get('password').touched) && verificationForm.get('password').errors }"
                         required>
                  <div *ngIf="verificationForm.get('password').errors && (verifySubmitted || verificationForm.get('password').touched)" class="invalid-feedback">
                    <div *ngIf="verificationForm.get('password').errors.required">Password is required.</div>
                    <div *ngIf="verificationForm.get('password').errors.minlength">Password must be at least 8 characters.</div>
                    <div *ngIf="verificationForm.get('password').errors.maxlength">Password must be at max 25 characters.</div>
                  </div>
                  <label>OTP (check your mail)</label>
                  <input type="text"
                         class="sign-input"
                         placeholder="OTP (check your mail)"
                         formControlName="code"
                         #codeInput
                         [ngClass]="{ 'is-invalid': (verifySubmitted || verificationForm.get('code').touched) && verificationForm.get('code').errors }"
                         required>
                  <div *ngIf="verificationForm.get('code').errors && (verifySubmitted || verificationForm.get('code').touched)" class="invalid-feedback">
                    <div *ngIf="verificationForm.get('code').errors.required">OTP (from Mail) is required.</div>
                  </div>
                  <button type="submit"
                          class="custom-sign-btn btn mt-4"
                          (click)="verifyCode()"
                          [disabled]="verificationForm.invalid && verifySubmitted">
                    Verify OTP
                  </button>
                  <button type="submit"
                          class="custom-sign-btn btn mt-3"
                          (click)="login(true)"
                          *ngIf="isResendOtp">
                    Resend OTP
                  </button>
                </form>
              </div>
            </ng-container> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
