<section class="hero-headermain">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="header-title wow fadeInUp">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- intro section -->

<section class="hero-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 wow fadeInLeft">
        <div>
          <h2>
            <div class="intro-cont">
              <p>
                Mehman is one of the leading online travel brand in Pakistan and
                offers customers tailor made holiday deals focusing on flights,
                hotels, visas and other holiday products. Customers can benefit
                from our online booking engine to book their holidays. Mehman is
                IATA accredited Agency since 2019 and registered with Security
                Exchange Commission of Pakistan since 2016.
              </p>
              <p>
                Story of mehman starts when founders of mehman (Muhammad Aamer &
                Atiq Sarwar) booked their first umrah packages in 2015. It was
                realised how difficult is to buy umrah online. Travel agencies
                have poor customer services and don’t guide properly to umrah
                pilgrims. To serve people and help the travellers, mehman was
                born in 2016. Since July 2016, we have served many people and
                Alhamdulillah’s we have provided best customer service to all
                our customers.
              </p>
              <p>
                We at Mehman.pk are very dedicated to providing best services
                you with all-inclusive Umrah packages, Hajj packages, Dubai
                visa, and cheap flight services. Our website ranks high on
                Google with following search queries or keywords: Cheap Flights,
                Cheap Airline Tickets, Online Advance Hotel Booking, Pakistan
                Travel Agency, Book Cheap Flights, Travel Agency Pakistan, Umrah
                Packages 2021, Umrah Packages 2022, Cheap Umrah Packages from
                Pakistan, 21 Days Umrah Package From Pakistan, Umrah Package
                Total Cost 2021, Umrah Package Total Cost 2022, Umrah Package 28
                Days, Private Hajj Packages, Hajj Packages from Pakistan, Hajj
                Packages 2019 Pakistan, hajj packages prices and more.
              </p>
            </div>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- service section -->

<!-- <section class="hero-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="service-box wow fadeIn">
          <div class="service-img">
            <img src="assets/images/about/AmazingTravel.png" class="img-fluid" alt="">
          </div>
          <div class="service-cont">
            <h5><a href="javascript:void(0);">Amazing Travel</a></h5>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="service-box wow fadeIn">
          <div class="service-img">
            <img src="assets/images/about/Discover.png" class="img-fluid" alt="">
          </div>
          <div class="service-cont">
            <h5><a href="javascript:void(0);">Discover</a></h5>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="service-box wow fadeIn">
          <div class="service-img">
            <img src="assets/images/about/bookyourtrip.png" class="img-fluid" alt="">
          </div>
          <div class="service-cont">
            <h5><a href="javascript:void(0);">Book Your Trip</a></h5>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="service-box wow fadeIn">
          <div class="service-img">
            <img src="assets/images/about/Nicesupport.png" class="img-fluid" alt="">
          </div>
          <div class="service-cont">
            <h5><a href="javascript:void(0);">Nice Support</a></h5>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- team -->
<section class="hero-team hero-team2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="header-offer-box wow fadeInUp">
          <div class="offer-header">
            <div class="offer-title offer-title-2">
              <h5>Our team is comprised of genuinely gifted minds</h5>
            </div>
          </div>
          <div class="offer-slider">
            <div class="owl-carousel owl-theme ss_carousel" id="slider1">
              <div class="item">
                <div class="slider-box service-slider">
                  <div class="slider-img">
                    <img
                      src="assets/images/about/slider-img-1.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="img-cont sdr">
                    <p>CEO, Founder</p>
                    <h5>Muhammad Aamer</h5>
                  </div>
                </div>
                <!-- <div class="service-cont-2">
                  <p>
                    The creators of the theme are happy with the response and
                    have vowed to create further themes exploring the same
                    concepts
                  </p>
                </div> -->
              </div>

              <div class="item">
                <div class="slider-box service-slider">
                  <div class="slider-img">
                    <img
                      src="assets/images/about/slider-img-2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="img-cont sdr">
                    <p>CFO, Chief Financial Officer</p>
                    <h5>Atiq Sarwar</h5>
                  </div>
                </div>
                <!-- <div class="service-cont-2">
                  <p>
                    The creators of the theme are happy with the response and
                    have vowed to create further themes exploring the same
                    concepts
                  </p>
                </div> -->
              </div>

              <div class="item">
                <div class="slider-box service-slider">
                  <div class="slider-img">
                    <img
                      src="assets/images/about/slider-img-3.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="img-cont sdr">
                    <p>Chief Financial</p>
                    <h5>N/A</h5>
                  </div>
                </div>
                <!-- <div class="service-cont-2">
                  <p>
                    The creators of the theme are happy with the response and
                    have vowed to create further themes exploring the same
                    concepts
                  </p>
                </div> -->
              </div>

              <div class="item">
                <div class="slider-box service-slider">
                  <div class="slider-img">
                    <img
                      src="assets/images/about/slider-img-4.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="img-cont sdr">
                    <p>Advisor</p>
                    <h5>N/A</h5>
                  </div>
                </div>
                <!-- <div class="service-cont-2">
                  <p>
                    The creators of the theme are happy with the response and
                    have vowed to create further themes exploring the same
                    concepts
                  </p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="hero-packages">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="service-box wow fadeInUp">
          <div class="service-img">
            <img src="assets/images/about/Hajj.png" class="img-fluid" alt="">
          </div>
          <div class="package-cont">
            <h5><a href="javascript:void(0);">Cheap Hajj Packages</a></h5>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="service-box wow fadeInUp">
          <div class="service-img">
            <img src="assets/images/about/Flights.png" class="img-fluid" alt="">
          </div>
          <div class="package-cont">
            <h5><a href="javascript:void(0);">Flights</a></h5>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="service-box wow fadeInUp">
          <div class="service-img">
            <img src="assets/images/about/Visas.png" class="img-fluid" alt="">
          </div>
          <div class="package-cont">
            <h5><a href="javascript:void(0);">Visas</a></h5>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="service-box wow fadeInUp">
          <div class="service-img">
            <img src="assets/images/about/Hotels.png" class="img-fluid" alt="">
          </div>
          <div class="package-cont">
            <h5><a href="javascript:void(0);">Hotels</a></h5>
            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- our awards -->

<section class="hero-team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="header-offer-box awards-box wow fadeInUp">
          <div class="offer-header">
            <div class="offer-title offer-title-2">
              <h5>Our Awards</h5>
            </div>
          </div>
          <div class="offer-slider awards-slider">
            <div class="owl-carousel owl-theme ss_carousel" id="slider3">
              <div class="item">
                <div class="award-tab-box">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        id="pills-award1-tab"
                        data-toggle="pill"
                        href="#pills-award1"
                        role="tab"
                        aria-controls="pills-award1"
                        aria-selected="true"
                        >2017</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award2-tab"
                        data-toggle="pill"
                        href="#pills-award2"
                        role="tab"
                        aria-controls="pills-award2"
                        aria-selected="false"
                        >2018</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award3-tab"
                        data-toggle="pill"
                        href="#pills-award3"
                        role="tab"
                        aria-controls="pills-award3"
                        aria-selected="false"
                        >2019</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award4-tab"
                        data-toggle="pill"
                        href="#pills-award4"
                        role="tab"
                        aria-controls="pills-award4"
                        aria-selected="false"
                        >2020</a
                      >
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="pills-award1"
                      role="tabpanel"
                      aria-labelledby="pills-award1-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Accredited</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award2"
                      role="tabpanel"
                      aria-labelledby="pills-award2-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award3"
                      role="tabpanel"
                      aria-labelledby="pills-award3-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award4"
                      role="tabpanel"
                      aria-labelledby="pills-award4-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="award-tab-box">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        id="pills-award1-tab"
                        data-toggle="pill"
                        href="#pills-award1"
                        role="tab"
                        aria-controls="pills-award1"
                        aria-selected="true"
                        >2017</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award2-tab"
                        data-toggle="pill"
                        href="#pills-award2"
                        role="tab"
                        aria-controls="pills-award2"
                        aria-selected="false"
                        >2018</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award3-tab"
                        data-toggle="pill"
                        href="#pills-award3"
                        role="tab"
                        aria-controls="pills-award3"
                        aria-selected="false"
                        >2019</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award4-tab"
                        data-toggle="pill"
                        href="#pills-award4"
                        role="tab"
                        aria-controls="pills-award4"
                        aria-selected="false"
                        >2020</a
                      >
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="pills-award1"
                      role="tabpanel"
                      aria-labelledby="pills-award1-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award2"
                      role="tabpanel"
                      aria-labelledby="pills-award2-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award3"
                      role="tabpanel"
                      aria-labelledby="pills-award3-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award4"
                      role="tabpanel"
                      aria-labelledby="pills-award4-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="award-tab-box">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        id="pills-award1-tab"
                        data-toggle="pill"
                        href="#pills-award1"
                        role="tab"
                        aria-controls="pills-award1"
                        aria-selected="true"
                        >2017</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award2-tab"
                        data-toggle="pill"
                        href="#pills-award2"
                        role="tab"
                        aria-controls="pills-award2"
                        aria-selected="false"
                        >2018</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award3-tab"
                        data-toggle="pill"
                        href="#pills-award3"
                        role="tab"
                        aria-controls="pills-award3"
                        aria-selected="false"
                        >2019</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award4-tab"
                        data-toggle="pill"
                        href="#pills-award4"
                        role="tab"
                        aria-controls="pills-award4"
                        aria-selected="false"
                        >2020</a
                      >
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="pills-award1"
                      role="tabpanel"
                      aria-labelledby="pills-award1-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award2"
                      role="tabpanel"
                      aria-labelledby="pills-award2-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award3"
                      role="tabpanel"
                      aria-labelledby="pills-award3-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award4"
                      role="tabpanel"
                      aria-labelledby="pills-award4-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="award-tab-box">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        id="pills-award1-tab"
                        data-toggle="pill"
                        href="#pills-award1"
                        role="tab"
                        aria-controls="pills-award1"
                        aria-selected="true"
                        >2017</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award2-tab"
                        data-toggle="pill"
                        href="#pills-award2"
                        role="tab"
                        aria-controls="pills-award2"
                        aria-selected="false"
                        >2018</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award3-tab"
                        data-toggle="pill"
                        href="#pills-award3"
                        role="tab"
                        aria-controls="pills-award3"
                        aria-selected="false"
                        >2019</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="pills-award4-tab"
                        data-toggle="pill"
                        href="#pills-award4"
                        role="tab"
                        aria-controls="pills-award4"
                        aria-selected="false"
                        >2020</a
                      >
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="pills-award1"
                      role="tabpanel"
                      aria-labelledby="pills-award1-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award2"
                      role="tabpanel"
                      aria-labelledby="pills-award2-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award3"
                      role="tabpanel"
                      aria-labelledby="pills-award3-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-award4"
                      role="tabpanel"
                      aria-labelledby="pills-award4-tab"
                    >
                      <div class="award-box">
                        <div class="award-img">
                          <img
                            src="assets/images/about/award.png"
                            class="img-fluid"
                            alt=""
                          />
                        </div>
                        <div class="award-cont">
                          <p>IATA Award for best Airline (2017)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- team -->
<section class="hero-Media">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="header-offer-box wow fadeInUp">
          <div class="offer-header">
            <div class="offer-title offer-title-2">
              <h5>Mehman in Media</h5>
            </div>
          </div>
          <div class="offer-slider">
            <div class="owl-carousel owl-theme ss_carousel" id="slider2">
              <div class="item">
                <div class="slider-box service-slider">
                  <div class="slider-img">
                    <img
                      src="assets/images/about/media-img-1.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="img-cont sdr">
                    <h5>Mehman in News</h5>
                    <p><span>04-04-2020</span></p>
                  </div>
                </div>
                <div class="service-cont-2 cont-3">
                  <p>
                    The creators of the theme are happy with the response and
                    have vowed to create further themes exploring the same
                    concepts
                  </p>
                </div>
              </div>

              <div class="item">
                <div class="slider-box service-slider">
                  <div class="slider-img">
                    <img
                      src="assets/images/about/media-img-2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="img-cont sdr">
                    <h5>Mehman in News</h5>
                    <p><span>04-04-2020</span></p>
                  </div>
                </div>
                <div class="service-cont-2 cont-3">
                  <p>
                    The creators of the theme are happy with the response and
                    have vowed to create further themes exploring the same
                    concepts
                  </p>
                </div>
              </div>

              <div class="item">
                <div class="slider-box service-slider">
                  <div class="slider-img">
                    <img
                      src="assets/images/about/media-img-3.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="img-cont sdr">
                    <h5>Mehman in News</h5>
                    <p><span>04-04-2020</span></p>
                  </div>
                </div>
                <div class="service-cont-2 cont-3">
                  <p>
                    The creators of the theme are happy with the response and
                    have vowed to create further themes exploring the same
                    concepts
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- customer care -->

<!-- <section class="hero-care">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="care-box wow fadeInUp">
          <div class="care-img">
            <img src="assets/images/home/support.png" class="img-fluid" alt="">
          </div>
          <div class="care-cont">
            <h2>24/7 Support</h2>
            <p>Offering 24/7 customer support</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="care-box wow fadeInUp">
          <div class="care-img">
            <img src="assets/images/about/Test.png" class="img-fluid" alt="">
          </div>
          <div class="care-cont">
            <h2>Test</h2>
            <p>Offering 24/7 customer support</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="care-box wow fadeInUp">
          <div class="care-img">
            <img src="assets/images/about/Customercare.png" class="img-fluid" alt="">
          </div>
          <div class="care-cont">
            <h2>Customer Care</h2>
            <p>Offering 24/7 customer support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
