<app-shared-search-results (searchResultEvent)="searchResult($event)" ></app-shared-search-results>
<div class="content hero-blog2" *ngIf="isShowContent">
  <div class="container">
      <h1 class="text-center">
          <strong>Qatar Airways</strong>
      </h1>
      <p>Qatar Airlines is one of the world's youngest and greatest international airlines, serving six continents.
          One of the world's fastest-growing airlines, Qatar Air (QR) was named "Airline of the Year" in 2017. The
          companyTower in Doha is home to Qatar's impressive state-owned flag carrier. More than 180 planes fly out of
          the airline's base at Doha - Hamad International Airport. To become a member of Oneworld, Qatar Airways had
          to become the first major Gulf carrier to do so in 2013.</p>
      <h3><strong>History</strong></h3>
      <p>On November 22, 1993, Qatar Airlines was founded; its first flights took place on January 20, 1994. In May
          1994, Amman was serviced for the first time. Heir Hamad Bin Ali Bin Jabor Al Thani, CEO of the airline in
          April 1995, had 75 employees. Until this point, the fleet consisted of two Airbus A310s, which covered a
          network of destinations in the Middle East and Asia that included Abu Dhabi, Bangkok and Cairo; Dubai;
          Khartoum; Kuwait; London; Madras; Manila; Osaka; [contradictory] Sharjah; Taipei; Tokyo; and Trivandrum.
          Boeing purchased two Boeing 747s from All Nippon Airways in 1995, which were both Boeing 747s that had
          previously been used by All Nippon Airways. Second-hand Boeing 747SPs were purchased from Air Mauritius by
          the airline in 1996.</p>
      <p>In November in the year 1993, the renowned airline first got its start. The first flights of the year are
          scheduled for early next year. In 1995, Sheik Hamad Bin Ali Bin Jabor Al Thani, the then CEO of Qatar
          Airways, hired a total of 75 employees (QR). In the years that followed, the airline soared to fame,
          becoming one of the most well-known in the world. It uses aircraft from the most recent generation to fly to
          more than 150 locations across the world. The airline has won several honours for its excellent customer
          service. Additionally, it has been named Airline of the Year by Skytrax four times in a row, in 2011, 2012,
          2015, and 2017.</p>
      <h3><strong>Awards</strong></h3>
      <p>Since its inception in 1994, the airlines have grown into a major player in regional and worldwide aviation,
          winning several awards for its high-quality service standards.</p>
      <p>Skytrax, an international air transport rating organization, has awarded Qatar Air Qatar the coveted 5-Star
          COVID-19 Airline Safety Rating. In 2011, 2012, 2015, 2017, and most recently in 2019, the airline was named
          "Airline of the Year" by Skytrax, demonstrating the trust that passengers have placed in it.</p>
      <h3><strong>Destinations</strong></h3>
      <p>There were fourteen new destinations to fly to in 2012: Addis Ababa, Baghdad, Erbil, Gassim, and Kigali.
          Kilimanjaro. Maputo. Mombasa. Perth. St. Petersburg. Warsaw. Yangon and Zagreb.</p>
      <p>Doha International Airport was officially replaced by Hamad International Airport on May 27th, 2014, when a
          flight from Bahrain landed at Hamad International Airport. 146 destinations across the globe were serviced
          by Qatar Airways in December 2014 with the start of Asmara flights. There were already seven U.S.
          destinations on the airline's route network before adding Dallas/Fort Worth, which was Houston's seventh and
          was the second in Texas, along with Haneda, Miami and Edinburgh as the airline's third destination in the
          United Kingdom. [178In June of next year, the airline will begin flying to Amsterdam from its base in the
          Netherlands. The airline has announced that it would begin flying to Durban in December of 2015. </p>
      <p>All Qatar air flights were barred from entering Emirati, Saudi Arabian, Bahraini, and Egyptian airports in
          June 2017 owing to the ongoing diplomatic situation in those countries. All flights to and from Qatar's
          airspace and airports were already on hold. Until January 20, 2021, this prohibition was in force.</p>
      <p>Qatar Airways' inaugural flight from Doha to Davao, Philippines, took off on June 18, 2019.</p>
      <p>Qatar Airways made its maiden trip to Somalia on July 1, three months after announcing the Doha-Mogadishu
          routes.</p>
      <p>Flights to Langkawi will begin in August 2019 as part of the company's Southeast Asia development ambitions.
          In Malaysia, the route is Airlines' third destination, after Kuala Lumpur and Penang.</p>
      <p>The ban was abolished in January 2021, allowing airlines to travel to nations including Saudi Arabia, the
          United Arab Emirates, Egypt, and Bahrain and utilize their airspace.</p>
      <p>After Qatar's airspace issue with neighbouring Gulf countries was resolved on January 25, 2021, its' network
          would include 120 destinations. By March 2021, the company hopes to have 130 routes on its network.</p>
      <p>Qatar Airways will resume service to Cebu on July 24, 2021, after an eight-year hiatus. The Airline has added
          Cebu, the Philippines' second-largest city, to its list of destinations in the country.</p>
      <h3><strong>Latest Information on Qatar Airways</strong></h3>
      <p>The 5-Star COVID-19 Airline Safety Rating by Skytrax was awarded to Airline, making it the first 5-Star
          airline in the world. The following nations have been barred from entering Qatar Airways because of recent
          events:</p>
      <p>Luanda – Angola</p>
      <p>Capetown, Johannesburg – South Africa</p>
      <p>Harare – Zimbabwe</p>
      <p>Durban – South Africa</p>
      <p>Durban – South Africa</p>
      <p>Lusaka – Zambia</p>
      <table style="width:100%">
          <tr>
              <th>Routes</th>
              <th>Price of Business class starts from</th>
              <th>Price of Economic class starts from</th>
          </tr>
          <tr>
              <td>Karachi to Bangkok</td>
              <td>PKR 217,720</td>
              <td>PKR 73,235</td>
          </tr>
          <tr>
              <td>Karachi to Jakarta</td>
              <td>PKR 242,041</td>
              <td>PKR 77,216</td>
          </tr>
          <tr>
              <td>Karachi to Kuala Lumpur</td>
              <td>PKR 207,551</td>
              <td>PKR 71,556</td>
          </tr>
      </table>
      <p>The Airline has increased the number of weekly flights to several locations listed below.</p>
      <li>Kuwait</li>
      <li>Copenhagen</li>
      <li>Colombo</li>
      <li>Paris</li>
      <li>London</li>
      <li>Medina</li>
      <li>Phuket</li>
      <li>Salalah</li>
      <li>Sharjah</li>
      <li>Abu Dhabi</li>
      <li>Algiers</li>
      <li>Cebu</li>
      <li>Clark</li>
      <li>Bangkok</li>
      <li>Berlin</li>
      <li>Helsinki</li>
      <li>Kuala Lumpur</li>
      <h3><strong>Qatar Air Ticket Price</strong></h3>
      <p>Qatar Airways is known not only for providing excellent service, but also for offering low-cost flights. One
          of the airline's primary goals is to meet the needs of its customers. Air ticket rates may vary depending on
          the route chosen, resulting in a price difference between two tickets to the same destination. Another
          factor that may influence airline ticket prices is the day of the week, the type of aircraft, and how far in
          advance the ticket is purchased.</p>
      <p>International flights may be more expensive than domestic flights, not only because of the greater distance
          traveled, but also because of additional taxes. Peak seasons will also have higher pricing, and similarly,
          weekdays tend to have lower prices than weekends</p>
      <table style="width:100%">
          <tr>
              <th>Qatar Airways Ticket Price</th>
              <th>Days</th>
              <th>Price Start From</th>
          </tr>
          <tr>
              <td>Paris to Islamabad</td>
              <td>S M T W T F S</td>
              <td>Rs. 100,314</td>
          </tr>
          <tr>
              <td>Lahore to London</td>
              <td>S M T W T F S</td>
              <td>Rs. 89,980</td>
          </tr>
          <tr>
              <td>Karachi to Tokyo</td>
              <td>S M T W T F S</td>
              <td>Rs. 82,534</td>
          </tr>
          <tr>
              <td>Mexico City to Dubai</td>
              <td>S M T W T F S</td>
              <td>Rs. 58,952</td>
          </tr>
          <tr>
              <td>Karachi to Istanbul</td>
              <td>S M T W T F S</td>
              <td>Rs. 57,972</td>
          </tr>
          <tr>
              <td>Berlin to Nairobi</td>
              <td>S M T W T F S</td>
              <td>Rs. 46,857</td>
          </tr>
      </table>
      <h3><strong>Schedule of Qatar Airways Flights</strong></h3>
      <p>Before buying an air ticket have a look at the flight schedule. In addition to serving 79 countries and more
          than 150 destinations worldwide, the Airline has a wide range of options. Since its inception, it has grown
          steadily and relentlessly, constantly aiming for greater heights. Every day, Qatar Airways has a huge number
          of direct and connecting flights. For airline booking, have a look at the routes.</p>
      <table style="width:100%">
          <tr>
              <th>Route</th>
              <th>First Flight</th>
              <th>Last Flight</th>
              <th>Duration</th>
          </tr>
          <tr>
              <td>Doha to Tokyo</td>
              <td>02:00</td>
              <td>02:20</td>
              <td>10 hours</td>
          </tr>
          <tr>
              <td>Paris to Islamabad</td>
              <td>08:55</td>
              <td>15:05</td>
              <td>13 hours 40 minutes</td>
          </tr>
          <tr>
              <td>Munich to Hanoi</td>
              <td>16:50</td>
              <td>12:55</td>
              <td>16 hours 35 minutes</td>
          </tr>
          <tr>
              <td>Dubai to Doha</td>
              <td>05:30</td>
              <td>23:00</td>
              <td>1 hour 10 minutes</td>
          </tr>
      </table>
      <p>From December 1, 2021, Qatar Airways is offering nonstop service between Abuja, the capital of Nigeria, and
          Doha, the capital of Qatar. The flights to Lagos are no longer linked, allowing passengers to travel without
          interruption and without having to spend significant periods of time in transit. The company sees Nigeria as
          a key market, and they have plans to provide customers with additional travel alternatives and seamless
          connections.</p>
      <p>Airbus A320s will fly between Doha, Qatar, and Tashkent, Uzbekistan, beginning on January 17, 2022. Qatar
          Airways will be able to fly to more than 140 countries from Tashkent because of this move. Below is a list
          of upcoming flights.</p>
      <li>Doha to Tashkent flight departs at 18:55 and arrives at 00:30 + 1 (local time) on weekdays and Fridays,
          respectively.</li>
      <li>Arrives in Doha at 4:00 p.m. from Tashkent at 01:50 a.m. (local Time) — Every second Tuesday and every
          second Saturday</li>
      <p>For these itineraries, passengers are welcome to travel with additional baggage. Passengers in economy class
          may bring up to 46 kilograms (2 pieces) of luggage, while business class passengers can bring up to 64 kg (2
          pieces).</p>
      <p>Same are the conditions for Qatar air cargo as well.
          The airports in Kano and Port Harcourt, Nigeria, are now served by the airline. The planes will land in
          Abuja, Nigeria. For the period beginning March 2, 2022,
      </p>
      <li>Every week, there will be four flights (Mon, Wed, Fri, Sun).
          From March 3rd, 2022:</li>
      <li>a week's worth of flights to Port Harcourt have been planned (Tue, Thu, Sat).
          Listed below are the flight times to and from these cities</li>
      <table style="width:100%">
          <tr>
              <th>Route</th>
              <th>Flight no</th>
              <th>Departs</th>
              <th>Arrives</th>
          </tr>
          <tr>
              <td>Doha- Abuja</td>
              <td>QR1431</td>
              <td>01:45</td>
              <td>07:20</td>
          </tr>
          <tr>
              <td>Abuja – Kano</td>
              <td>QR1431</td>
              <td>08:50</td>
              <td>09:50</td>
          </tr>
          <tr>
              <td>Kano – Abuja</td>
              <td>QR1432</td>
              <td>18:35</td>
              <td>19:35</td>
          </tr>
          <tr>
              <td>Abuja – Doha</td>
              <td>QR1432</td>
              <td>21:05</td>
              <td>05:15 (+1)</td>
          </tr>
      </table>
      <table style="width:100%">
          <tr>
              <th>Route</th>
              <th>Flight no</th>
              <th>Departs</th>
              <th>Arrives</th>
          </tr>
          <tr>
              <td>Doha- Abuja</td>
              <td>QR1433</td>
              <td>1:45</td>
              <td>7:20</td>
          </tr>
          <tr>
              <td>Abuja – Port Harcourt</td>
              <td>QR1433</td>
              <td>8:50</td>
              <td>10:00</td>
          </tr>
          <tr>
              <td>Port Harcourt – Abuja</td>
              <td>QR1434</td>
              <td>18:25</td>
              <td>19:35</td>
          </tr>
          <tr>
              <td>Abuja – Doha </td>
              <td>QR1434</td>
              <td>21:05</td>
              <td>05:15 (+1)</td>
          </tr>
      </table>
      <h3><strong>Qatar Air Lahore to Muscat Price</strong></h3>
      <p>Travel agencies charge a commission when you use their services to book your flights. According to our
          sources, PKR 1,00,000 will get you round-trip tickets on Qatar Airways from Lahore to Muscat. Flights from
          Lahore to Muscat typically take 15 hours, depending on the day and time of year (1 layover point).</p>
      <h3><strong>Qatar Airways Flight Status</strong></h3>
      <p>Qatar Airways has a strict flight schedule and is known for its timeliness. Air ticket booking can be done
          online and offline as well. However, if you follow these easy procedures, you can always check the status of
          flights.</p>
      <li>For Qatar air online booking visit website at https://www.qatarairways.com/. For Qatar air online booking
      </li>
      <li>then choose "Flight Status" or go straight to https://fs.qatarairways.com/flightstatus/search to see the
          flight's status</li>
      <li>Enter your flight information and press the Search button.</li>
      <li>You'll be able to view all the details of your trip right there.</li>
      <h3><strong>Qatar Airways Cancellation Policies</strong></h3>
      <p>Booking an airplane ticket is stressful enough without having to worry about last-minute alterations, crises,
          or blunders. You may request a refund on your ticket, if you miss your flight or cancel it, and the airline
          will not charge you for it. Refund requests may be submitted online at their website</p>
      <table style="width:100%">
          <tr>
              <th>Charges</th>
              <th>Cancellation Fee</th>
          </tr>
          <tr>
              <td>Outbound</td>
              <td>Rs. 11861</td>
          </tr>
          <tr>
              <td>Inbound</td>
              <td>Rs. 7907</td>
          </tr>
      </table>
      <h3><strong>Qatar Airways Baggage Allowance</strong></h3>
      <p>Different rules apply to luggage allowance policy. Depending on the sort of ticket you've purchased, this
          might be different from what you're expecting. If there is a weight restriction on your luggage, you may
          bring as much as you like if nothing exceeds the size limit or the combined weight limit. Check your
          ticket's luggage requirements, though, to make sure you're not taking anything prohibited.</p>
      <p>If you know you'll be traveling with more baggage than the airline allows, it's best to add it to your
          reservation in advance so you won't run into any issues. The amount of luggage you're allowed to bring on
          each flight is shown in the table below.</p>
      <table style="width:100%">
          <tr>
              <th>Flight</th>
              <th>Carry-on Baggage</th>
              <th>Check-in Baggage</th>
          </tr>
          <tr>
              <td>Economy Class</td>
              <td>7 kg (1 piece)</td>
              <td>Size: 300 cm (by weight), 158 cm (by piece)</td>
          </tr>
          <tr>
              <td>Business Class</td>
              <td>15 kg (2 pieces)</td>
              <td>Wright: 32 kg</td>
          </tr>
          <tr>
              <td>First Class</td>
              <td>15 kg (2 pieces)</td>
          </tr>
      </table>
      <h3><strong>Customer Service Phone Number for Qatar Airways</strong></h3>
      <p>Whether you're having a good or bad experience, you can always contact company for assistance. You can also
          share your thoughts on the service, whether you appreciate it or believe it should be improved. You can
          always count on airlines customer support to be helpful, pleasant, and accessible whenever you need some
          help in Qatar air booking. Some nations, such as Saudi Arabia, Pakistan, France, Brazil, Algeria, and
          Australia, provide round-the-clock customer support. There are established timetables for other countries,
          including the United States, India, Qatar, and Kuwait, which may be found at
          https://www.qatarairways.com/en/Privilege-Club/contact-us.html.
          headquarters address
      </p>
      <p>Qatar Airways Tower 1, next to Al Manna Building, Airport Road</p>
      <p>Doha, Qatar</p>
      <p>Tel:+974 4022 6000</p>
      <p>Fax :+974 4462 1533</p>
      <p>You can also contact through their Twitter: @qrsupport, @qatarairways</p>
      <h3><strong>Rescheduled Flight with Qatar Airways</strong></h3>
      <p>There are several alternatives available to you since company cares about you and your vacation. If your
          travel plans change, you may be able to modify Qatar air flight booking and, in that case, modify your
          flights. Changing your flight is as simple as following these steps:</p>
      <li>For further information, please visit https://booking.qatarairways.com/nsp/views/retrievePnr.xhtml or Manage
          Booking.</li>
      <li>You must fill out the required information below.</li>
      <li>Pick a different date for your trip.</li>
      <li>In-flight services provided by Qatar Airways</li>
      <h3><strong>Facilities at Qatar Airways</strong></h3>
      <p>You'll get the greatest in-flight amenities when you fly with Qatar Airways. First and foremost, you should
          be aware that the facilities differ according to the kind of trip you have booked, but you will always have
          access to more than 4,000 in-flight entertainment choices and the ability to remain connected through wi-fi.
          You'll be able to sit comfortably in economy class on a fleet that is just a few years old. The cabins in
          Business Class are luxurious, well-appointed, and well-equipped with cutting-edge technology. Luxury and
          elegance are the hallmarks of First-Class service. Regardless of the situation, you will get the warm and
          kind service that distinguishes the Airlines.</p>
      <li>On-board amusements</li>
      <li>Wireless internet connection</li>
      <li>Dishes prepared by renowned chefs</li>
      <li>Seats that are both large and comfy</li>
      <h3><strong>Discounts & Deals on Qatar Airways Tickets</strong></h3>
      <p>Discounts and Qmiles are available via the Qatar Airways Privilege Club. Among the many benefits of joining
          this club are the opportunity to get not just exclusive discounts but also perks like free checked luggage,
          priority boarding, and more. All of the current deals may be found at this link:
          https://www.qatarairways.com/en-us/offers.html. On Sastaticket.pk, you may also take advantage of special
          discounts that might lower the cost of your tickets. When promotional coupons are available, take use of
          them to get the most out of what you have to offer.</p>
      <h3><strong>Insuring Your Trip with Qatar Airways</strong></h3>
      <p>You never know what may happen on the road, so it's always a good idea to be prepared. You may add travel
          insurance to your tickets that you've already purchased, by going to "Manage Booking" Qatar Airways AIG
          Travel Guard will shield you from any unexpected costs. The Middle East and Europe are covered by travel
          insurance. Visit https://www.qatarairways.com/en/travel-insurance.html for more information on safe travel
      </p>
      <h3><strong>Why should you choose Qatar Airways?</strong></h3>
      <p>As a customer-focused airline, Qatar Airways provides excellent service to its passengers. As a result of its
          quick expansion and recognition, it is a sign of success.</p>
  </div>
</div>