.sidebar {
  padding           : 0;
  width             : 250px;
  background-color  : #fff;
  height            : 100vh;
  float             : left;
  position          : -webkit-sticky;
  position          : sticky;
  height            : 100%;
  margin-bottom     : 0;
  border-right      : 1px solid #e8ecef;
  left              : 0;
  top               : 0;
  -webkit-transition: .3s ease-in-out;
  transition        : .3s ease-in-out;
}

.sidebar a {
  display        : block;
  color          : black;
  padding        : 16px;
  text-decoration: none;
  border-bottom  : 1px solid #f1f1f1;
}

.sidebar a.active {
  background-color: #57b957;
  color           : white;
}

.sidebar a:hover:not(.active) {
  background-color: #57b957;
  color           : white;
}

#sidenav .closebtn {
  position   : absolute;
  top        : 6px;
  right      : 10px;
  font-size  : 36px;
  margin-left: 50px;
  cursor     : pointer;
  color      : #fff;
}

span.profile img {
  border-radius: 50px;
  height       : 60px;
}

.header-title h1 {
  margin: 0 !important;
}

.page-content-panel-inner {
  height     : auto;
  background : #fdfdfd;
  width      : calc(100% - 250px);
  float      : right;
  border-left: 1px solid #e8ecef !important;
}

.footer_content {
  width: 100%;
  float: left;
}

.hero-header-user {
  background: linear-gradient(180deg, rgba(24, 27, 49, 0.7) 0%, #181B31 100%);
  padding   : 26px 0 !important;
}

.travel-agency {
  background: #212529;
  color     : #fff;
  margin    : 6px;
}
