// body {
//     font-family: "Lato", sans-serif;
// }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #57b957fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.social-Icon{
  font-size: 18px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#menu-btn {
    position: absolute;
    left: -60px;
    transition: 0.3s;
    width: 80px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 999;
    background: #57b957;
    top: 15px;
    border: 1px solid #57b957
}

#menu-btn:hover {
    left: 0;
}
