<app-shared-search-results (searchResultEvent)="searchResult($event)" ></app-shared-search-results>
<div class="content hero-blog2" *ngIf="isShowContent">
    <div class="container">
        <h1 class="text-center">Pegasus Airline</h1>
        <p>
            <b>Pegasus Airline</b> flies domestically and internationally (Kurtkoy region). Additionally, it has a
            counter/base
            at several Turkish airports. In 1989, Net, Silkar, and Aer Lingus joined together to form Pegasus
            Airlines,
            officially founded in 1990. After its formation in 1990, Pegasus Airlines immediately started operating
            flights
            (April). A war between Iraq and Kuwait broke out four months later, affecting travel to Turkey. Tourists
            began
            returning to Turkey in 1992, and Pegasus Airlines began to expand.

            As a result, Aer Lingus and Net withdrew their investments in 1994. As a result, Pegasus Airlines became
            a 100
            percent Turkish-owned corporation in 1994. A top-rated international airline, Pegasus Airlines has
            developed
            steadily since then. Pegasus Airlines currently has a fleet of 92 passenger planes. The massive size of
            its fleet
            allows it to serve over one hundred and ten different cities worldwide. ESAS Holding is Pegasus
            Airlines' parent
            company. After purchasing Pegasus Airlines in 2005, ESAS Holding transformed the airline into a low-cost
            carrier.
            Cheaper Pegasus Airlines fares and improved onboard service were a consequence of this. Current ESAS
            Holding
            Chairman Ali Sabanci is a Turkish national.

        </p>
        <h2>History</h2>
        <P>Pegasus is Turkey's leading low-cost airline, offering point-to-point service on short and medium-range
            flight routes
            at affordable prices and aiming to build an extensive flight network with frequent service for
            travelers.
            <br><br>
            Pegasus Airlines, Turkey's second-largest airline, inked a contract in 2012 for up to 100 A320neo Family
            aircraft
            (57 A320neo and 18 A321neo types), of which 75 were definite orders. It became the first Turkish airline
            to purchase
            the A320neo from Airbus. When this directive was made public on December 18, 2012, it was in honor of
            Turkish
            Transport Minister Binali Yldrm, who was present for the announcement. Pegasus Airlines purchased 49
            percent of
            Kyrgyz airline Air Manas in June 2012. On March 22, 2013, Pegasus Asia flew its maiden commercial trip
            under the
            company's new name.
            <br><br>
            A joint venture between Aer Lingus Group, Silkar Yatrm ve Insaat Organizasyonu A.S., and Net Holding
            A.S., Pegasus
            Hava Tasimaciligi A.S. began commercial operations in 1990 with two aircraft.
            Following its acquisition by Sevket Sabanci and his family's Esas Holding A.S., Pegasus began domestic
            flights in
            November 2005 and became the fourth-highest ranked scheduled carrier in Turkey.
            <br><br>
            After the IPO, 34.5 percent of the shares are traded on the Istanbul Stock Exchange, while Esas Holding
            A.S. holds
            65.5 percent of the shares, and Sevket Sabanci and his family own the balance.

        </P>
        <h1>Updated Information on Pegasus Airlines</h1>
        <p>

            Aims for 2030 have been established by flypgs Pegasus as a supplement to its commitment. It is hoped
            that by 2030,
            the carbon emissions per passenger kilometer (RPK) will be 20% lower than they were in 2019. The
            objective of
            reducing carbon emissions has prompted the development of strategies and programs.

            The primary aim is to become the greenest airline in Turkey and the surrounding region. Keeping an
            ecologically
            friendly and fuel-efficient NEO model fleet is the first step. Aircraft weight reduction, route
            optimization, and
            the publication of carbon footprints on investor websites are just a few other ways to reduce carbon
            emissions.
            Transforming and supporting carbon offsetting initiatives are among the medium-term goals, with modern
            <b> Pegasus
                planes</b> and carbon capture technologies on the long-term plan.

            Güliz ztürk, Pegasus Airlines' first female CEO, will take office on May 1, 2022, marking an important
            milestone in
            the airline's history. She will be the first female chief executive officer in Turkish civil aviation's
            air
            transport business. She thinks that the airline would rise to new heights if it invested in technology
            and people.
            The new CEO's ultimate objective is to make the airline one of the top airlines in the world, which she
            hopes to
            accomplish in the coming days.

        </p>
        <h1>Cost of Pegasus airlines tickets</h1>
        <p>
            Pegasus Airlines, an ultra-low-cost carrier, offers low-cost international Pegasus flights tickets. The
            cost
            of a
            Pegasus Airlines ticket may vary depending on the number of available seats, the length of the trip, and
            the amount
            of
            time until departure. <b>Pegasus Airlines</b> provides low-cost economy class flights for those on a
            tight budget.
            The
            ticket's
            cost may vary significantly depending on whether the Pegasus trip is domestic or international. You can
            make <b>
                Pegasus
                airlines</b> booking, by keeping in mind these prices.
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Air Route</th>
                    <th>Availability Days</th>
                    <th>Starting Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Istanbul to Antalya</td>
                    <td>S M T W T F S</td>
                    <td>Rs. 15,900</td>
                </tr>
                <tr>
                    <td>Istanbul to Dubai</td>
                    <td>S M T W T F S</td>
                    <td>Rs. 20,000</td>
                </tr>
                <tr>
                    <td>Karachi to Istanbul</td>
                    <td>S M T W T F S</td>
                    <td>Rs. 25,000</td>
                </tr>
            </tbody>
        </table>
        <h2>Schedule for <b>Pegasus airlines flights</b></h2>
        <p>You can also view the <b>Pegasus air</b> flight schedule on the airline's official website.
            The schedule for Pegasus Airlines is provisional and subject to change based on flight availability,
            travel restrictions, and weather conditions.

        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Route</th>
                    <th>First Flight</th>
                    <th>Last Flight</th>
                    <th>Nonstop Travel Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Karachi to Istanbul</td>
                    <td>04:15 AM</td>
                    <td>04:15 AM</td>
                    <td>5 hours & 55 minutes</td>
                </tr>
                <tr>
                    <td>Istanbul to Antalya</td>
                    <td>05:50 AM</td>
                    <td>11:55 PM</td>
                    <td>1 hour & 15 minutes</td>
                </tr>
                <tr>
                    <td>Istanbul to Sharjah</td>
                    <td>06:00 AM</td>
                    <td>09:55 PM</td>
                    <td>8 hours (1 stop)</td>
                </tr>
                <tr>
                    <td>Istanbul to Dubai</td>
                    <td>05:55 AM</td>
                    <td>11:55 PM</td>
                    <td>6 hours (1 stop)</td>
                </tr>

            </tbody>
        </table>
        <h2> <b> Air Pegasus</b> Flight Tracker</h2>
        <p> Flyers like how accommodating Pegasus is when it comes to scheduling. Regularly, Pegasus offers flights
            to
            several locations. Pegasus Airlines is a popular choice for tourists and commuters because of its
            on-time
            flight services. Using the techniques outlined below, you may see whether there are any international
            Pegasus flights available for Pegasus airlines Karachi to Istanbul and other locations.

        </p>
        <ul>
            <li>
                <b>Pegasus airlines website</b> may be found at https://www.flypgs.com/en (English version).
            </li>
            <li>
                The 'International Flights Status and Country Regulations' icon is located on the homepage
            </li>
            <li>
                Follow this direct link for more information on where you may fly in FlyPGS
            </li>
            <li>
                Enter your location and explore the Pegasus international flight schedules for Pakistan.
            </li>
        </ul>
        <h2>
            Web check-in for Pegasus Airlines
        </h2>
        <p>
            <b>Pegasus fly</b> provides an online check-in option for travelers to avoid long lineups at the
            airport. Web
            check-in allows you to acquire your boarding card without going to the airport. On
            https://www.flypgs.com/en/useful-information/info-about-fares/online-check-in-availabilities-airports,
            you can see whether an airport supports the web check-in procedure. Here are the methods to use if your
            airport allows online check-in:

        </p>
        <ul>

            <li> Go to the Pegasus Airlines website for further information.</li>
            <li>Find out whether online check-in is available at your preferred airport.</li>
            <li>
                Please provide your surname and PNR number if you have one.
            </li>
            <li>
                Complete your online check-in by clicking the "Continue" button.
            </li>



        </ul>
        <h2>
            Policies for Pegasus ticket Cancellation
        </h2>
        <p>Flyers on <b>Pegasus Airlines</b> appreciate the freedom to change or cancel their reservations if their
            plans change. When you cancel with Pegasus Airlines, you'll get a substantial refund because of the
            airline's strict cancellation policy. Depending on the airline's cancellation policy, you may be able to
            obtain a full refund or face additional fees if you cancel your Pegasus flight tickets. The steps listed
            below may be used to cancel Pegasus tickets:
        </p>
        <ul>
            <li>
                Visit <b> pgs airlines'</b> official website.
            </li>
            <li>The 'Manage My Booking' icon may be found on the homepage by clicking on it.</li>
            <li>Please enter your PNR number and last name in the appropriate fields to continue.</li>
            <li>You have the option of canceling a round-trip or a one-way flight. Every one of your
                incoming and departed plane tickets might be canceled.
            </li>
        </ul>

        <table class="table">
            <thead>
                <tr>
                    <th>Cancellation Window</th>
                    <th>Cancellation Fee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Before 24 hours</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>After 24 hours</td>
                    <td>
                        $100 to $500
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Pegasus Airlines baggage allowance</h2>
        <p>When flying with Pegasus Airlines, you'll be able to carry your baggage. Pegasus' rigorous baggage
            regulation determines the weight and size of luggage. You may only carry cabin baggage or hand luggage
            on a Pegasus trip. The cabin baggage and hand luggage dimensions are limited to 55*40*20 and 40*30*15,
            respectively. According to the ticket and flight type, Pegasus flights have different luggage
            allowances. Domestic Pegasus flights have luggage allowances as follows:
        </p>


        <table class="table">
            <thead>
                <tr>
                    <th>Ticket Type</th>
                    <th>Allowed Baggage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Essentials</td>
                    <td>15kg</td>
                </tr>
                <tr>
                    <td>Advantage
                    </td>
                    <td>
                        20 kg
                    </td>
                </tr>
                <tr>
                    <td>
                        Business Flex
                    </td>
                    <td>15 kg

                    </td>
                </tr>

            </tbody>
        </table>
        <p>The baggage allowance for international Pegasus flights are as follows:
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Ticket Type</th>
                    <th>Allowed Baggage</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Basic</td>
                    <td>0 kg</td>

                </tr>
                <tr>
                    <td>
                        Essentials
                    </td>
                    <td>20 kg</td>
                </tr>
                <tr>
                    <td>Advantage</td>
                    <td>20 kg</td>
                </tr>
                <tr>
                    <td>Business Flex</td>
                    <td>20 kg</td>
                </tr>
            </tbody>
        </table>
        <h2>Contact information for <b>pegasus airlines headquarters</b></h2>
        <p>Pegasus airline is widely regarded as one of the best air carriers globally, with many delighted customers.
            You may ask a question or voice concern by going to the 'Contact Us' area. Pegasus Airlines' headquarters
            are located at the following address:
            <br><br>
            The Yenişehir Mah., Ottoman Boulevard Aeropark
            <br><br>
            The address is No. 11/A 34912 Kurtkoy, Turkey.
            <br><br>
            The phone number for Pegasus Airlines customer support is 0888 2281212. +90 216 5607000 is the phone number
            to call to reach the Pegasus Airlines office. Pegasus Airlines may be contacted by email at info@flypgs.com.
            Pegasus Airlines has a presence on several social media platforms via handles and profiles.
            Twitter handle https://twitter.com/flymepegasus.
            <br><br>
            Instagram handle https://www.instagram.com/pegasusairlines/.
            <br><br>
            YouTube channel: https://www.youtube.com/pegasusairlines
        </p>
        <h2>Rescheduling a Flight on Pegasus Airlines</h2>
        <p> Pegasus Airlines is aware of the requirement for frequent changes to a passenger's flight information.
            Pegasus Airlines enables travelers to reschedule their flight tickets in the event of incorrect reservations
            or other alterations. To reschedule your Pegasus Airlines tickets, follow the procedures outlined below:
        </p>
        <ul>

            <li> Pegasus Airlines has a 'Manage My Booking' button on its website.</li>
            <li>You may also go to https://www.flypgs.com/en/manage-my-booking to manage your Pegasus tickets directly.
            </li>
            <li>On the webpage, enter your surname and PNR number.</li>
            <li>Reschedule your Pegasus flight tickets by clicking the "Next" button. You may be liable for any price
                discrepancies (if applicable).
            </li>
        </ul>
        <h2>Features of Pegasus Airlines</h2>
        <p> When flying with Pegasus Airlines, you may expect a variety of luxuries aboard the plane. Depending on the
            flight and ticket category, Pegasus may provide different perks. There is plenty of legroom for passengers
            on Pegasus flights. You won't feel confined while flying on a Pegasus plane. Pegasus Airlines offers the
            following amenities:
        </p>
        <ul>
            <li> Seat covers
            </li>
            <li>Air conditioner
            </li>
            <li>Meal
            </li>
            <li>Comfortable seats
            </li>
            <li>Wheelchair
            </li>

        </ul>
        <h2> offers and reductions on flights with Pegasus Airlines</h2>
        <p>At regular periods, Pegasus Airlines offers low-cost flights to travelers. Check out Pegasus' official
            website's 'Campaign' area to learn about current promotions. Pegasus Airlines is a low-cost carrier
            dedicated to giving customers the lowest possible prices on their travel bookings. Pegasus Airlines' most
            recent deals include the following:
            <br><br>
            It's an excellent opportunity for music lovers to save money at Pegasus until September 30. You may carry
            your musical instrument on a Pegasus flight without incurring any additional fees. When flying with Pegasus,
            you won't be charged for bringing your musical instrument on board.
            <br> There is no fee if you want to replace or amend your Pegasus airline tickets until the end of July.
            This deal applies to all flights on the Pegasus network, domestic and international.
            <br> You may join Pegasus BolBol and get discounts on hotel stays, automobile rentals, and other services.
        </p>
        <h2> Why should I fly with Pegasus?</h2>
        <p> Pegasus Airlines is a low-cost carrier that strives to provide consumers with affordable air travel options.
            Pegasus Airlines' employees will make you feel at home throughout your flight. Passengers benefit from
            onboard amenities such as a wheelchair, food, and beverages. Pegasus Airlines is an excellent option for
            travelers who want to fly to various locations. It also offers frequent flights on a wide range of
            itineraries to provide travelers with more opportunities.
        </p>
    </div>
</div>