<section class="hero-saviours">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="support-box wow fadeInUp">
          <div class="support-img">
            <img src="assets/images/home/Best-Price-Guarantee.png" class="img-fluid" alt="cheap price tickets guarantee" />
          </div>
          <div class="support-cont">
            <h5>Best Price Guarantee</h5>
            <!-- <p>Offering 24/7 customer support</p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="support-box wow fadeInUp">
          <div class="support-img">
            <!-- <img src="assets/images/home/online.png" class="img-fluid" alt="" /> -->
            <img src="assets/images/home/support.png" class="img-fluid" alt="24/7 customer support" />
          </div>
          <div class="support-cont">
            <h5>Open 24 hours, 7 days week</h5>
            <!-- <p>Offering 24/7 customer support</p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="support-box wow fadeInUp">
          <div class="support-img">
            <!-- <img src="assets/images/home/location.png" class="img-fluid" alt="" /> -->
            <img src="assets/images/home/Secure-&-Faster-Payments.png" class="img-fluid" alt="easy and fast payment" />

          </div>
          <div class="support-cont">
            <h5>Secure and Faster Payments</h5>
            <!-- <p>Offering 24/7 customer support</p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="support-box wow fadeInUp">
          <div class="support-img">
            <!-- <img src="assets/images/home/card.png" class="img-fluid" alt="" /> -->
            <img src="assets/images/home/400-Airlines2.png" class="img-fluid" alt="cheap airline logo" />
          </div>
          <div class="support-cont">
            <h5 *ngIf="selectedHomeTab == 'flights'">400+ Airlines</h5>
            <h5 *ngIf="selectedHomeTab == 'visa'">100+ Countries visas</h5>
            <!-- <p>Offering 24/7 customer support</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
