<section class="hero-headermain">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="header-title wow fadeInUp">
          <h1>Privacy Policy</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- intro section -->

<section class="hero-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 wow fadeInLeft">
        <div class="intro-cont">
          <p>Last updated: 01 June 2021</p>
          <p>Thank you for visiting our website (mehman.pk). Mehman.pk is trade name of Mehman Travel and Tours
            (private) limited. This document describe covers privacy policy of our website. </p>
          <ul>This Privacy Policy covers:
            <li>
              What type of personal data we collect, use and how we collect it?
            </li>
            <li>
              With whom and why we share your personal data?
            </li>
            <li>What sort of choices you can make about the data we collect, use and share? </li>
          </ul>
          <p>
            We may update this Policy to in response to changing laws, technical and business needs. To view our latest
            policy, visit this page when you need to review the privacy policy.
          </p>
          <p><b>What sort of Personal Data do we collect? </b></p>
          <p>When you create an account with us using sign up page, sign up to receive our newsletter or make a booking
            using our platform, you give us your personal information. We also collect other information through browser
            such as cookies placed on your browser when you visit our sites. We also receive information from our social
            media channels and our affiliated partners and other third party to improve our website and services. </p>
          <p><b>Categories of personal information </b></p>
          <ul>When you use our website or our services, we may collect the following kinds of personal information from
            you:
            <li>
              Name, email address, telephone number and addresses
            </li>
            <li>
              Government-issued identification documents such as ID cards, passports required for bookings and
              identification. </li>
            <li>
              Payment information such as bank account, debit and credit card number, expiry date and billing address
            </li>
            <li>
              Travel preferences such as favourite destination, accommodation types and dietary requirements </li>
            <li>
              Birth date and gender
            </li>
            <li>
              Geolocation
            </li>
            <li>
              Images, videos and other recordings
            </li>
            <li>
              Social media accounts and the information you shared with us on these channels.
            </li>
            <li>
              Communications with us such as recordings of calls with customer service representatives or emails to our
              associated business emails.
            </li>
            <li>
              Internet searches, transactions and other interactions on our websites and apps
            </li>
            <li>
              The searches and transactions carried out on our website and apps.
            </li>
            <li>other people data you shared with us while making a booking. </li>
            <li>Information we receive about you from our business partners and social media channels. </li>
          </ul>
          <ul>When you install any of our apps or use our platform, cookies automatically collect the following types of
            information from your device:
            <li>
              IP address and Internet service provider </li>
            <li>
              Device type
            </li>
            <li>
              Internet browser type
            </li>
            <li>
              Operating system
            <li>
              Mobile network
            </li>
            <li>
              dates and times associated with your searches. </li>
            <li>
              referring website and exit pages.
            </li>
          </ul>
          <hr>
          <p><b>
              What are your rights and choices about your personal information?
            </b></p>
          <p>
            You can use your data protection rights in various ways. You can unsubscribe from our marketing emails using
            unsubscribe buttons in our marketing emails. You can stop receiving latest news and offers by removing
            social media connections or unlinking our social media pages.
          </p>
          <p><b>
              Who is responsible for Your Data?
            </b></p>
          <p>
            Mehman Travels and Tours (Private) Limited has a Data Protection Officer who watches all the data of our
            platforms and processes related to data collection, storage and usage. In case you have any question
            regarding your data, our Data Protection Officer is available to answer all your questions you may have. You
            can use How to Contact us section to reach our Data Protection Officer. However, we may ask you to verify
            your identity before taking further action on your request.
          </p>
          <p><b>
              Is your Personal data secure with us? </b></p>
          <p>
            Data protection security for your data on our systems is our number one priority and we do take all
            reasonable steps to implement technical, physical and organisational measures.
          </p>
          <p><b>
              Sharing your Personal Data
            </b></p>
          <p>
            We may share your personal information with following third parties:
          </p>
          <p>
            <b>Travel suppliers.</b> We share booking information with our travel suppliers such as hotels, airlines,
            car hire
            companies, insurance, holiday rental property owners. These suppliers may call you to verify your personal
            and booking details to confirm your identity and booking details.
          </p>
          <p><b>Business partners.</b> If we promote a product or offer a service in partnership with a third-party
            business
            partner, we will share your information with that partner to assist in marketing or to provide the
            associated product or service. </p>
          <p><b>Third-party service providers.</b> We share personal information with third parties for delivery of
            services to
            you and the operation of our business. For example, banks to process payments and software companies who
            provide us key software solutions to run our business. </p>
          <p><b>Government Agencies.</b> We may disclose your personal information to law enforcement agencies as
            permitted by
            law. </p>
          <p><b>How to Contact us? </b></p>
          <p>You can contact us using our phone numbers, sending us email, visiting our offices, using our social media
            channels or <a href="javascript:void(0);" [routerLink]="['/contact-us']" routerLinkActive="active">Contact
              us</a> page on our website. </p>
          <br>
          <br>

          <br>

          <br>

        </div>
      </div>
    </div>
  </div>
</section>
