.flight-img {
  margin: 0 auto;
  display: block;
}

.cust-boxs {
  text-align: center;
  cursor: pointer !important;
  font-weight: 500;
  padding: 10px;
  border-bottom: ridge;
}

.cust-boxs-price {
  font-size: 20px;
}

.active {
  border: 1px solid #4caf60;
  background-color: #4caf60;
  color: #fff;
}

.cust-box-row {
  margin: 10px 0 0 0px;
}

.child:last-child {
  margin-bottom: 20px;
}

.apply-travellers {
  position: relative;
  width: 140px;
  color: #fff;
  background: #57b957;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  font-family: "SFUIDisplay-Semibold";
  padding: 0;
  border: 1px solid #57b957;
  letter-spacing: 0.5px;
  transition: 0.5s all ease;
  top: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto; // 20vw 40vw for me because I have dt and dd
  padding: 10px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.grid-container > div {
  padding: 20px;
}
.fare-item {
  .fare-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 0rem 0;
  }
  .fare-active-item {
    padding: 15px 15px 15px 13px;
  }
}
img-fluid-Logo {
  max-width: 80%;
  height: auto;
}
.h-80 {
  height: 80vh !important;
}
.text-end {
  text-align: end;
}
.close {
  float: none !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
@media (min-width: 820px) {
   .modifyButton {
     display: none;
   }
  .display-none {
    display: block;
  }
}

@media (max-width: 820px) {
  .display-none {
    display: block;
  }
 .row{
  padding: 10px 20px;
}
.flt-details{
  border-radius: 10px;
}
  .display-n{
    display: none;
  }
}
