.book-submit-btn button {
    position: relative;
    display: block;
    width: 180px;
    color: #fff;
    background: #57B957;
    box-shadow: 0px 5px 10px rgba(87, 185, 87, 0.5);
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    margin: 0 20px;
    font-family: "SFUIDisplay-Semibold";
    padding: 10px 0px;
    border: 1px solid #57b957;
    letter-spacing: 0.5px;
    transition: 0.5s all ease;
}

.comments {
    max-height: 560px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
}

ul.comment {
    background: #fff;
    margin: 15px 0;
    padding: 20px 20px 40px;
    box-shadow: 0px 0px 30px rgba(24, 27, 49, 0.05);
}

ul.comment h3 {
    color: #57b957;
    font-size: 18px;
    text-transform: capitalize;
}

li.comment-date {
    float: right;
    color: #57b957;
}

.not-avail-box {
    text-align: center;
    margin: auto;
}

.not-avail-text {
    font-size: 30px;
    color: #d5d5d5;
    margin: 30px 0;
}

.contact-header h2 {
    justify-content: space-between;
    display: flex;
}

span.note {
    color: #b4b4b4;
    font-size: 14px;
}

.comments-main-box {
    margin: 20px 0;
}
