<section class="hero-signup">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="signup-boxes">
            <div class="signup-box">
              <ng-container *ngIf="!isVerification && !isResetPassword && !isResetSuccess">
                <div class="signup-title">
                  <h2>Recover your password</h2>
                  <p>Verify yourself and reset your password</p>
                </div>
                <div class="signup-form">
                  <form [formGroup]="forgotPasswordForm">
                    <div class="alert alert-danger" *ngIf="isError">
                      {{ errorMsg }}
                    </div>
                    <div class="alert alert-success" *ngIf="isSuccess">
                      {{ successMsg }}
                    </div>
                    <label>Email</label>
                    <input type="text"
                           class="sign-input"
                           placeholder="Email"
                           formControlName="email"
                           #emailInput
                           [ngClass]="{ 'is-invalid': (submitted || forgotPasswordForm.get('email').touched) && forgotPasswordForm.get('email').errors }"
                           required>
                    <div *ngIf="forgotPasswordForm.get('email').errors && (submitted || forgotPasswordForm.get('email').touched)" class="invalid-feedback">
                      <div *ngIf="forgotPasswordForm.get('email').errors.required">Email is required.</div>
                      <div *ngIf="forgotPasswordForm.get('email').errors.email">Enter a valid email.</div>
                    </div>
                    <button type="submit"
                            class="custom-sign-btn btn mt-4"
                            (click)="sendResetCode()"
                            [disabled]="forgotPasswordForm.invalid && submitted">
                      Send OTP
                    </button>
                    <div class="sign-in-link mt-4">
                      <a [routerLink]="'/travel-agent/auth/signin'">Go back to login</a>
                    </div>
                  </form>
                </div>
              </ng-container>
              <ng-container *ngIf="isVerification && !isResetPassword">
                <div class="signup-title">
                  <h2>Verify OTP</h2>
                  <p>Verify your account</p>
                </div>
                <div class="signup-form">
                  <form [formGroup]="verificationForm">
                    <div class="alert alert-danger" *ngIf="isError">
                      {{ errorMsg }}
                    </div>
                    <div class="alert alert-success" *ngIf="isSuccess">
                      {{ successMsg }}
                    </div>
                    <label>Email</label>
                    <input type="text"
                           class="sign-input"
                           placeholder="Email"
                           formControlName="email"
                           [ngClass]="{ 'is-invalid': (verifySubmitted || verificationForm.get('email').touched) && verificationForm.get('email').errors }"
                           required>
                    <div *ngIf="verificationForm.get('email').errors && (verifySubmitted || verificationForm.get('email').touched)" class="invalid-feedback">
                      <div *ngIf="verificationForm.get('email').errors.required">Email is required.</div>
                      <div *ngIf="verificationForm.get('email').errors.email">Enter a valid email.</div>
                    </div>
                    <label>OTP (check your mail)</label>
                    <input type="text"
                           class="sign-input"
                           placeholder="OTP (check your mail)"
                           formControlName="code"
                           #codeInput
                           [ngClass]="{ 'is-invalid': (verifySubmitted || verificationForm.get('code').touched) && verificationForm.get('code').errors }"
                           required>
                    <div *ngIf="verificationForm.get('code').errors && (verifySubmitted || verificationForm.get('code').touched)" class="invalid-feedback">
                      <div *ngIf="verificationForm.get('code').errors.required">OTP (from Mail) is required.</div>
                    </div>
                    <button type="submit"
                            class="custom-sign-btn btn mt-4"
                            (click)="verifyCode()"
                            [disabled]="verificationForm.invalid && verifySubmitted">
                      Verify OTP
                    </button>
                    <button type="submit"
                            class="custom-sign-btn btn mt-3"
                            (click)="sendResetCode(true)"
                            *ngIf="isResendOtp">
                      Resend OTP
                    </button>
                    <div class="sign-in-link mt-4">
                      <a [routerLink]="'/travel-agent/auth/signin'">Go back to login</a>
                    </div>
                  </form>
                </div>
              </ng-container>
              <ng-container *ngIf="!isVerification && isResetPassword">
                <div class="signup-title">
                  <h2>Reset password</h2>
                  <p>Reset your password</p>
                </div>
                <div class="signup-form">
                  <form [formGroup]="resetPasswordForm">
                    <div class="alert alert-danger" *ngIf="isError">
                      {{ errorMsg }}
                    </div>
                    <div class="alert alert-success" *ngIf="isSuccess">
                      {{ successMsg }}
                    </div>
                    <label>Email</label>
                    <input type="text"
                           class="sign-input"
                           placeholder="Email"
                           formControlName="email"
                           [ngClass]="{ 'is-invalid': (resetSubmitted || resetPasswordForm.get('email').touched) && resetPasswordForm.get('email').errors }"
                           required>
                    <div *ngIf="resetPasswordForm.get('email').errors && (resetSubmitted || resetPasswordForm.get('email').touched)" class="invalid-feedback">
                      <div *ngIf="resetPasswordForm.get('email').errors.required">Email is required.</div>
                      <div *ngIf="resetPasswordForm.get('email').errors.email">Enter a valid email.</div>
                    </div>
                    <label>Password</label>
                    <input type="password"
                           class="sign-input"
                           placeholder="Password"
                           formControlName="password"
                           [ngClass]="{ 'is-invalid': (resetSubmitted || resetPasswordForm.get('password').touched) && resetPasswordForm.get('password').errors }"
                           required>
                    <div *ngIf="resetPasswordForm.get('password').errors && (resetSubmitted || resetPasswordForm.get('password').touched)" class="invalid-feedback">
                      <div *ngIf="resetPasswordForm.get('password').errors.required">Password is required.</div>
                      <div *ngIf="resetPasswordForm.get('password').errors.minlength">Password must be at least 8 characters.</div>
                      <div *ngIf="resetPasswordForm.get('password').errors.maxlength">Password must be at max 25 characters.</div>
                    </div>
                    <label>Confirm Password</label>
                    <input type="password"
                           class="sign-input"
                           placeholder="Confirm Password"
                           formControlName="passwordConfirm"
                           [ngClass]="{ 'is-invalid': (resetSubmitted || resetPasswordForm.get('passwordConfirm').touched) && resetPasswordForm.get('passwordConfirm').errors }"
                           required>
                    <div *ngIf="resetPasswordForm.get('passwordConfirm').errors && (resetSubmitted || resetPasswordForm.get('passwordConfirm').touched)" class="invalid-feedback">
                      <div *ngIf="resetPasswordForm.get('passwordConfirm').errors.required">Password is required.</div>
                      <div *ngIf="resetPasswordForm.get('passwordConfirm').errors.passwordsNotMatching">Passwords must match.</div>
                    </div>
                    <button type="submit"
                            class="custom-sign-btn btn mt-4"
                            (click)="resetPassword()"
                            [disabled]="resetPasswordForm.invalid && resetSubmitted">
                      Reset Password
                    </button>
                    <div class="sign-in-link mt-4">
                      <a [routerLink]="'/travel-agent/auth/signin'">Go back to login</a>
                    </div>
                  </form>
                </div>
              </ng-container>
              <!--<ng-container *ngIf="!isVerification && !isResetPassword && isResetSuccess">
                <div class="alert alert-success">
                  Password reset successfully!
                </div>
              </ng-container>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  