.visa-info__banner__phone_help {
  font-size         : 16px;
  text-align        : center;
  color             : #fff;
  font-weight       : bold;
  margin-top        : 0;
  -ms-flex-direction: row;
  flex-direction    : row;
  box-sizing        : border-box;
  display           : -ms-flexbox;
  display           : flex;
  /* display        : -webkit-flex; */
  align-items       : center;
  justify-content   : center;
  -webkit-flex-wrap : wrap;
  flex-wrap         : wrap;
  padding-left: 16px
}

.visa-info__banner__phone_help a,
.visa-info__banner__phone_help .tel_text,
.visa-info__banner__phone_help .tel_link {
  color      : #fff !important;
  font-weight: bold !important;
  margin-left: 15px;
}

visa-info__banner__phone_help .call-button__custom_note,
.visa-info__banner__phone_number .call-button__custom_note,
.index__banner__phone_help .call-button__custom_note,
.passport__banner__phone_help .call-button__custom_note {
  color      : #fff;
  font-weight: bold;
}

.call-button__custom_note,
.call-button__custom-btn,
.call-button__custom_note+.tel_link {
  display        : flex !important;
  align-items    : center;
  justify-content: center;
  flex-wrap      : wrap;
}

.flight-summary-stick {
  position: fixed;
  z-index : 9;
  width   : 271px;
  top     : 0;
  right   : auto;
}
.flight-summary ul {
  margin       : 0 0 10px;
  padding      : 0 0 10px;
  border-bottom: 1px solid #e8e7e7;
}
.text-center {
  text-align : center !important;
  text-align : center !important;
  font-size  : 15px;
  font-weight: 400;
}
.rubik-medium {
  font-weight: 500;
}
.flight-summary ul li.style1 {
  font-size: 13px;
  font-weight: bold;
}

.flight-summary ul li.style1 {
  margin: 10px 0 8px;
}

.travel-form-box-lable {
  width     : 100% !important;
  text-align: left !important;
}
